extends ../index.jade

block friend
  .grid_10.ident-bot-2
    h2.ident-bot-10 新闻动态
    #carousel-1.es-carousel-wrapper
      .es-carousel
        ul
          li
            .grid_4.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/port-1.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/port-1.jpg')
            .tagline
              h3 个人通信已迈入沟通3.0时代
            p
              | 从人类的诞生到今天，人们在创造新的沟通方式上进行不懈的努力和探索：语言的产生、文字的创造，互联网的发展与普及都使人类沟通进入了一个更加文明的时代。人类的智慧与灵感将带动科技进步，这种进步为人类创造更新的生活方式提供了可能。
            a(href='#') read more —
          li
            .grid_4.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/port-2.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/port-2.jpg')
            .tagline
              h3 Aenean auctor wisi et urna
            p
              | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
            a(href='#') read more —
          li
            .grid_4.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/port-3.jpg')
            .tagline
              h3 Aenean auctor wisi et urna
            p
              | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
            a(href='#') read more —
          li
            .grid_4.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/port-4.jpg')
            .tagline
              h3 Aenean auctor wisi et urna
            p
              | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
            a(href='#') read more —
          li
            .grid_4.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/port-5.jpg')
            .tagline
              h3 Aenean auctor wisi et urna
            p
              | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
            a(href='#') read more —
          li
            .grid_4.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/port-6.jpg')
            .tagline
              h3 Aenean auctor wisi et urna
            p
              | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
            a(href='#') read more —
          li
            .grid_4.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/port-7.jpg')
            .tagline
              h3 Aenean auctor wisi et urna
            p
              | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
            a(href='#') read more —
          li
            .grid_4.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/port-8.jpg')
            .tagline
              h3 Aenean auctor wisi et urna
            p
              | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
            a(href='#') read more —
