extends ../index.jade
// 继承news中的content_1

block content_1
  .grid_10.ident-bot-2(data-spy='scroll', data-target='#navbar-example', data-offset='0', style='height:900px;overflow:auto; position: relative;')
    h2.ident-bot-10 图片预览
