extends ../index.jade
// 继承news中的content_1

block content_1
  .grid_12.ident-bot-2
    .block-ident-3
      h2 小鱼易连 开启视频新时代
      .grid_12.alpha.block-ident-2
        a.lightbox-image.img-border-bg(href='images/', data-gal='prettyPhoto[pp_gal_2]')
          img.img-border.fleft(src='images/', alt='')
    .grid_12
      p
        | 小鱼易连是面向企业的移动视频应用方案，以极为便捷的操作、高质量的音视频体验，颠覆传统的企业远程协作方式，让面对面的视频沟通，变得真正触手可及。
      p
        | 小鱼易连一经推出，快速在远程医疗、在线教育、视频110、智能导购及视频会议等众多业务场景中广泛应用。“SaaS服务+智能终端”移动视频新模式，正在改变着我们的生活和工作。
      h2 超越传统视频会议 引领移动视频应用新趋势
      p
        | 据悉，传统硬件视频会议系统存在着“价格高、难使用、难维护”的痛点，而软件视频会议系统也有着“不稳定、声音差、难操作”的先天不足。这也成为长期制约传统视频通讯发展的主要因素。
      p
        | 小鱼易连创新的"SaaS＋智能硬件“解决方案，打造新“4化”：互联网化、移动化、智能化和业务化，引领视频应用发展趋势。
      p
        strong
          | ●	互联网化：
      p
        | 免专线，全球互联互通，实现网络效应；
      p
        strong
          | ●	移动化：
      p
        | 任何人在任何地点、任何时间都能使用便捷的视频服务；
      p
        strong
          |  ●	智能化：
      p
        | 极简使用，免维护，提升用户体验；
      p
        strong
          | ●	业务化：
      p
        | 视频应用融入业务流程，为企业创造价值。
