extends ../index.jade
// 继承news中的content_1

block content_1
  .grid_12.ident-bot-2
    .block-ident-3
      h2 小鱼号是什么？

    .grid_12
      p
        | 小鱼号是指小鱼易连硬件视频终端的通信识别号码。
      p
        | 在小鱼云视频通信系统中，每一台的小鱼设备的小鱼号是唯一的，默认在开机初始化是由系统自动分配的。小鱼NE系列的小鱼号为6位数字的组合，ME系列为8位数字的组合。如下图，这台小鱼NE2005的小鱼号是123456。
        .grid_12.alpha.block-ident-2
          a.lightbox-image.img-border-bg(href='images/', data-gal='prettyPhoto[pp_gal_2]')
            img.img-border.fleft(src='images/', alt='')
