extends ../index.jade
// 继承news中的content_1

block content_1
  .grid_12.ident-bot-2
    .block-ident-3
      h2 小鱼易连中标吉林省司法厅“司法慧眼”项目

    .grid_12
      p
        | 小鱼易连云视讯平台中标吉林省司法厅“司法慧眼”项目，未来小鱼易连产品将覆盖吉林省各级司法行政机关，使日常司法工作场景全连通，为群众提供便捷的司法服务。
      p
        | 在经过大量选型与对比后，小鱼易连的“司法系统慧眼方案”，能够完全满足吉林省司法厅的需求。小鱼易连基于云端的视频会议解决方案，相对于同类厂商，优势明显，主要体现在以下几个方面：
        .grid_12.alpha.block-ident-2
          a.lightbox-image.img-border-bg(href='images/', data-gal='prettyPhoto[pp_gal_2]')
            img.img-border.fleft(src='images/', alt='')
      p
        strong  1.支持多方大规模会议

      p 小鱼易连支持全球部署，任意拓扑结构的扩展级联，支持超大规模会议，千方大会可以轻易满足。

      p
        strong  2.独有的超强抗丢包能力

      p 独有的抗丢包算法，灵活运用前向纠错、丢包重传等保护机制，在接入互联网的情况下，丢包30%保证图像不花屏。

      p
        strong  3.高稳定性

      p 小鱼易连采用多活备份，即使一处线路出问题，也能立即调用其他备份，保证使用的流畅、稳定。

      p
        strong  4.金融级别安全服务

      p 小鱼易连采用金融级别安全加密，具有四个九的超高安全系数，保证用户的数据安全。

      p 小鱼易连的“司法系统慧眼方案”，能够降低吉林省司法厅信息化普及的门槛，扩大使用区域，并且提供全场景应用。
