extends ../index.jade
// 继承news中的content_1

block content_1
  .grid_12.ident-bot-2
    .block-ident-3
      h2 2016届中国（惠州）物联网·云计算技术应用博览会参展实况
    .grid_12
      p
        | 与时俱进，追逐潮流，荣知通本着做世界工业智能化领域的引领型企业，很荣幸参与 本届云博会，大会以“国际化、专业化、市场化、高端化”为目标，并重点突出创新要素， 我司积极响应，独创视频会议新元素！
      p
        | 在为期三天（2016年11月1日~11月3日）的云博会中，荣知通斩获颇丰，市场喜人，既获得一些大 型集团企业的认可，也让荣知通找到今后拓展市场的智囊型合作伙伴。
      p
        | 本次会展我公司隆重推出一系列高科技产品，下面是产品现场反馈实况：
      .grid_12.alpha.block-ident-2
        a.lightbox-image.img-border-bg(href='images/activity/2016/IOT·Cloud Computing/exhibition1.jpg', data-gal='prettyPhoto[pp_gal_2]')
          img.img-border.fright(src='images/activity/2016/IOT·Cloud Computing/exhibition1.jpg', alt='')
        h3 新品发布会现场

      .grid_12.alpha.block-ident-2
        a.lightbox-image.img-border-bg(href='activity/2016/IOT·Cloud Computing/exhibition2.jpg', data-gal='prettyPhotn[pp_gal_2]')
          img.img-border.fleft(src='images/activity/2016/IOT·Cloud Computing/exhibition2.jpg', alt='')
        h3 杨总为客户演示CVTOUCH白版功能

      .grid_12.alpha.block-ident-2
        a.lightbox-image.img-border-bg(href='activity/2016/IOT·Cloud Computing/exhibition3.jpg', data-gal='prettyPhotn[pp_gal_2]')
          img.img-border.fleft(src='images/activity/2016/IOT·Cloud Computing/exhibition3.jpg', alt='')
        h3 杨总为国际朋友演示小鱼办公系统

      .grid_12.alpha.block-ident-2
        a.lightbox-image.img-border-bg(href='activity/2016/IOT·Cloud Computing/exhibition4.jpg', data-gal='prettyPhotn[pp_gal_2]')
          img.img-border.fleft(src='images/activity/2016/IOT·Cloud Computing/exhibition4.jpg', alt='')
        h3 杨总为客户介绍产品

      .grid_12.alpha.block-ident-2
        a.lightbox-image.img-border-bg(href='activity/2016/IOT·Cloud Computing/exhibition5.jpg', data-gal='prettyPhotn[pp_gal_2]')
          img.img-border.fleft(src='images/activity/2016/IOT·Cloud Computing/exhibition5.jpg', alt='')
        h3 展会现场工作人员

      p
        | 在以物联网和云计算、智能移动终端等为代表的新型高端电子信息产业的 新时代，荣知通迎刃而上，争做时代的弄潮儿；本着凝聚智慧、服务社会 为宗旨，让沟通更临近，让会议更便捷，让服务更有效！
