@import "reset.css";
@import "skeleton.css";
@import "inner.css";
@import "color-fonts.css";
@import "elements.css";
@import "superfish.css";
@import "portfolio.css";
@import "forms.css";
@import "slider-form.css";
@import "flexslider.css";
@import "prettyPhoto.css";
@import "fancybox.css";
@import "jcarousel.css";

body {
  background: url("../images/patterns/bg-body.jpg") repeat scroll 0 0 #fff;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1.8em;
  font-family: "微软雅黑 Light", Arial, Tahoma, sans-serif;
  color: #000000;
  position: relative;
  min-width: 320px;
}

html, body {
  height: 100%;
}

a {
  color: #000000;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
}

p {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

/*  Header styles */
h1, h2, h3, h4, h5, h6 {
  color: #2A313C;
  display: block;
  font-family: '微软雅黑 Light', Arial;
  font-weight: normal;
  margin-bottom: 25px;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
  text-transform: capitalize;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.tagline h1 {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 28px;
  font-family: 'OpenSansLight', Arial;
}

.tagline h3 {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 28px;
  font-family: 'OpenSansLight', Arial;
}

.tagline h4 {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 28px;
  font-family: "OpenSansRegular", Arial, sans-serif;
}

.logo h1 {
  float: left;
  margin-bottom: 0;
}

h1 a {
  background: url("../images/logo-footer.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 72px;
  text-indent: -999em;
  width: 105px;
}

::selection {
  background: #51A351;
  color: #FFF;
}

::-moz-selection {
  background: #51A351;
  color: #FFF;
}

strong, strong a {
  font-size: 17px;
  font-family: '微软雅黑 Light', Arial;
}

strong a:hover {
  color: #000;
  text-decoration: underline;
}

.strong-1 a {
  color: #969696;
}

/*=========================================================================
 GLOBAL STRUCTURE
========================================================================= */

.clear {
  clear: both;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  height: 0;
  width: 100%;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.extra-wrap {
  overflow: hidden;
  display: block;
}

.overflow-vis {
  overflow: visible;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.alignright {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

.alignmiddle * {
  vertical-align: middle;
}

.sub-heading {
  color: #999;
  font: 12px 'OpenSansSemibold', Arial;
  padding-top: 8px;
  text-shadow: 1px 1px 0 #FFFFFF;
  text-transform: lowercase;
  display: block;
}

.text-t-big {
  text-transform: uppercase;
}

.ident-bot-0 {
  margin-bottom: 0;
}

.ident-bot-1 {
  margin-bottom: 10px;
}

.ident-bot-2 {
  margin-bottom: 20px;
}

.ident-bot-3 {
  margin-bottom: 25px;
}

.ident-bot-4 {
  margin-bottom: 30px;
}

.ident-right-1 {
  margin-right: 18px;
}

.ident-right-2 {
  margin-right: 15px;
}

.ident-left-1 {
  margin-left: 18px;
}

.ident-left-2 {
  margin-left: 15px;
}

.ident-top-1 {
  margin-top: 10px;
}

.ident-top-2 {
  margin-top: 20px;
}

.ident-top-3 {
  margin-top: 30px;
}

/*=========================================================================
 HEADER
========================================================================= */

.row-1 {
  background: url("../images/row-1-bg.jpg") repeat-x scroll 0 0 #10180d;
  border: 1px solid #000;
}

.row-2 {
  background: url("../images/header-bg.jpg") repeat scroll 0 0 ;
}

.row-3 {
  background: url("../images/row-3-bg.jpg") repeat-x scroll 0 0 #10180D;
  min-height: 41px;
  padding: 10px 0;
}

.slogan {
  float: left;
  font-size: 25px;
  line-height: 32px;
  font-family: '微软雅黑 Light', Arial;
  color: #fff;
  text-transform: uppercase;
  background: url('../images/separator-2.png') no-repeat;
  margin-left: 6px;
  margin-top: 20px;
  padding-left: 26px;
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #777;
}

nav {
  float: left;
}

.call {
  float: right;
}

.call span {
  color: #FFD200;
  display: inline-block;
  font-family: 'OpenSansBold', Arial;
  font-size: 17px;
  text-shadow: 0 2px 0 #000000;
  margin-top: 24px;
}

.call img {
  top: 18px;
  padding-right: 3px;
  position: relative;
}

.login {
  float: right;
  padding-top: 28px;
  margin-right: 2px;
}

.login li {
  float: left;
  padding-left: 9px;
  background: url('../images/slogan-border.jpg') no-repeat 0 2px;
}

.login li:first-child {
  padding-right: 9px;
  background: none;
}

.login li a {
  color: #fff;
  font-size: 11px;
  line-height: 12px;
  font-family: 'OpenSansRegular', Arial;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.27) 1px 1px 1px;
}

.login li a:hover {
  text-decoration: underline;
}

/*=========================================================================
 CONTENT
========================================================================= */

#content {
  background: url("../images/patterns/shadow.png") repeat-x scroll 0 0 transparent;
  padding: 42px 0 65px 0;
  border-bottom: 5px solid #f1f0ed;
}

#page-inner #content {
  padding: 30px 0 40px;
}

#page1 #content {
  padding: 60px 0 40px;
}

.list-rate li {
  background: url('../images/list-rate.png') repeat-x 0 18px;
}

.list-rate li span {
  background: url("../images/patterns/bg-body.jpg") repeat scroll 0 0 #f7f7f7;
  font-size: 12px;
  line-height: 30px;
  font-family: 'Open Sans', Arial, Tahoma, sans-serif;
  font-weight: bold;
  float: right;
}

.list-rate li a {
  background: url("../images/patterns/bg-body.jpg") repeat scroll 0 0 #f7f7f7;
  font-size: 12px;
  line-height: 30px;
  font-family: 'Open Sans', Arial, Tahoma, sans-serif;
  font-weight: bold;
}

.list-rate li a:hover {
  text-decoration: none;
}

.list-1 li {
  padding-left: 26px;
  background: url('../images/icons/list-marker-1.png') no-repeat 0 7px;
  border-bottom: 1px solid #EEEEEE;
}

.list-1 li a {
  font-size: 12px;
  line-height: 30px;
  font-family: 'Open Sans', Arial, Tahoma, sans-serif;
  font-weight: bold;
}

.list-1 li a:hover {
  text-decoration: none;
}

.list-2 li {
  padding-left: 13px;
  background: url('../images/list-marker-2.png') no-repeat 0 9px;
}

.list-2 li a {
  color: #f3aca1;
  font-size: 12px;
  line-height: 24px;
  font-family: "Trebuchet MS", sans-serif;
  text-decoration: underline;
}

.list-2 li a:hover {
  color: #fff;
}

.block-ident-1 {
  padding-right: 30px;
}

.block-ident-2 {
  padding-right: 20px;
}

.block-ident-3 {
  padding-right: 17px;
}

.block-ident-4 {
  padding-right: 20px;
}

.block-1 {
  background: #f7f6f4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  behavior: url(js/PIE.htc);
}

.block-1 img {
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  border-right: 5px solid #ecebe7;
  behavior: url(js/PIE.htc);
}

.block-1-1 {
  float: left;
  width: 154px;
  margin-left: 16px;
  padding-top: 26px;
}

.date {
  line-height: 18px;
}

.block-2 {
  background: #fff;
  border: 1px solid #EEEEEE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  behavior: url(js/PIE.htc);
}

.block-2 img {
  float: left;
  width: 295px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  border-right: 5px solid #eee;
  behavior: url(js/PIE.htc);
}

.block-2-1 {
  float: left;
  width: 568px;
  padding: 20px;
}

.block-3 {
  background: #f7f6f4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  behavior: url(js/PIE.htc);
}

.block-3 img {
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  border-right: 5px solid #ecebe7;
  behavior: url(js/PIE.htc);
}

.block-3-1 {
  float: left;
  width: 195px;
  margin-left: 16px;
  padding-top: 26px;
}

.block-4 img {
  float: left;
}

.block-4-1 {
  float: left;
  width: 205px;
  margin-left: 39px;
  padding-top: 18px;
}

.block-5 {
  padding-top: 9px;
}

.block-6 img {
  float: left;
}

.block-6-1 {
  float: left;
  width: 360px;
  margin-left: 20px;
}

.banner-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
  margin-top: 3px;
  behavior: url(js/PIE.htc);
}

.link-name {
  font: 12px/21px 'OpenSansSemibold', Arial;
  text-transform: uppercase;
}

.link-name:hover {
  color: #000;
  text-decoration: underline;
}

.shadow-1 {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.34);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.34);
  behavior: url(js/PIE.htc);
}

.rt-block-1 {
  display: block;
}

.rt-block-4 {
  display: block;
  margin-top: -5px;
}

.img-border-bg {
  background: #fff;
  display: inline-block;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px #e7e7e7 inset;
  -moz-box-shadow: 0 0 0 1px #e7e7e7 inset;
  box-shadow: 0 0 0 1px #e7e7e7 inset;
  behavior: url(js/PIE.htc);
}

.img-border {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  behavior: url(js/PIE.htc);
}

.img-border-1 {
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.30);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.30);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.30);
  behavior: url(js/PIE.htc);
}

.img-border-2 {
  display: inline-block;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.30);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.30);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.30);
  behavior: url(js/PIE.htc);
}

.figure-1 a.left-image {
  margin-right: 7px;
}

.figure-1 a.right-image {
  margin-left: 7px;
}

/*  Buttons */
.button {
  display: inline-block;
  font-size: 12px;
  line-height: 21px;
  font-family: "Trebuchet MS", sans-serif;
  color: #eb4d3a;
  text-decoration: underline;
  padding-right: 16px;
  background: url('../images/icons/button-arrow.png') no-repeat 100% 50%;
}

.button:hover {
  color: #000;
  background: url('../images/icons/button-arrow-hover.png') no-repeat 100% 50%;
}

.link-1 {
  color: #969696;
}

.link-1:hover {
}

/*=========================================================================
 Blog
========================================================================= */

.post-border-right {
}

.post-holder {
  position: relative;
}

.post-holder .time {
  display: inline-block;
}

.post-holder .entry-title, .post-holder .entry-title a {
  font-family: 'OpenSansRegular', Arial;
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #4F5B70;
  text-decoration: none;
}

.post-holder .entry-title a:hover {
}

.post-meta {
  border-top: 1px dashed #D3D3D3;
  border-bottom: 1px dashed #D3D3D3;
  padding: 10px 0;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.post-meta a {
  text-decoration: none;
}

.post-meta a:hover {
  color: #000;
  text-decoration: underline;
}

/*  parent post */

.parent {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 1px #CCCCCC;
  margin-bottom: 30px;
  padding: 20px;
  position: relative;
}

.parent-sub-img {
  background: url("../images/post-sub.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  height: 70px;
  left: -22px;
  position: absolute;
  top: -30px;
  width: 19px;
}

.parent h5 {
  margin-bottom: 2px !important;
}

.parent h5 a:link, .parent h5 a:visited {
  color: #333333;
  font: bold 14px 'arial';
}

.parent img {
  float: left;
}

.parent span {
  font: italic 12px 'georgia';
}

.parent a.reply:link, .parent a.reply:visited {
  background: none repeat scroll 0 0 #EB4D3A;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  margin-left: 20px;
  padding: 2px 6px;
  text-transform: uppercase;
}

.parent a.reply:hover {
  background: none repeat scroll 0 0 #333;
}

.parent p {
  margin-top: 10px;
  overflow: hidden;
}

.child {
  margin-left: 40px;
}

.subchild {
  margin-left: 80px;
}

/*  Addthis Widget */
.addthis_button_google_plusone {
  position: relative;
  top: -13px;
}

.addthis_toolbox {
  float: right;
  text-align: right;
}

.addthis_toolbox.addthis_pill_combo a {
  margin-top: 2px;
}

.addthis_toolbox.addthis_pill_combo a.addthis_button_tweet, .addthis_toolbox.addthis_pill_combo a.addthis_counter {
  margin-top: 2px;
}

.addthis_button_compact .at15t_compact {
  float: left;
  margin-right: 4px;
}

.addthis_button_google_plusone iframe {
  width: 80px !important;
}

.addthis_button_tweet iframe {
  width: 98px !important;
}

.addthis_button_facebook_like iframe {
  width: 98px !important;
}

/*=========================================================================
 Sidebar
========================================================================= */

.sidebar {
  float: right;
  padding-left: 40px;
}

.sidebar h5 {
  border-bottom: 1px dashed #DDDDDD;
  border-top: 1px dashed #DDDDDD;
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.sidebar-blog {
  float: right;
  padding-left: 40px;
  padding-top: 34px;
}

.sidebar-blog h5 {
  border-bottom: 1px dashed #DDDDDD;
  border-top: 1px dashed #DDDDDD;
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.search, .sidebar-social, .categories, .recent-post, .side-paragraph, .our-sponsors {
  float: left;
  padding: 0 0 40px;
  width: 100%;
}

/* Search */
.search form {
}

.search input[type="text"] {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);
  border: 1px solid #CCCCCC;
  padding: 10px;
  width: 90%;
}

.search p, .search div {
  margin-bottom: 0;
}

/* Side paragraph */
.side-paragraph a {
  margin-right: 15px;
}

/* Recent Post */
.recent-post a {
  margin-right: 15px;
}

.recent-post .smalldate {
  background: url("../images/icons/cal.png") no-repeat scroll 0 2px transparent;
  color: #CCCCCC;
  display: block;
  font-size: 11px;
  font-style: italic;
  overflow: hidden;
  padding: 0 0 0 20px;
}

.recent-post-block {
  margin-bottom: 10px;
  display: inline-block;
}

/* Our Sponsors */
.our-sponsors a {
  display: inline-block;
  margin: 0 3px 10px;
}

/* Sociable */
.sidebar-social ul {
}

.sidebar-social ul li {
  float: left;
  margin-right: 5px;
}

.categories ul {
}

.categories ul li {
  float: left;
  margin-right: 9px;
  padding: 2px 0;
  width: 117px;
}

.categories ul li a:link, .categories ul li a:visited {
  background: url("../images/icons/arrow.png") no-repeat scroll 0 5px transparent;
  color: #000000;
  padding-left: 20px;
}

.categories ul li a:hover {
}

/* PRETTY PHOTO
========================================================================= */

/* Lightbox image */
.lightbox-image {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.lightbox-image img {
  position: relative;
  z-index: 2;
}

#page1 .lightbox-image img {
  float: left;
}

.lightbox-image span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/icons/magnify.png") no-repeat scroll 50% 50% transparent;
  z-index: 1;
}

/*=========================================================================
 FOOTER
========================================================================= */

footer {
  background: url("../images/footer-bg.jpg") repeat scroll 50% 0 #10180d;
}

.footer-1 {
  padding: 40px 0;
}

.footer-2 {
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
}

.row-4 {
  background: url('../images/row-4-bg.jpg') repeat-x;
  height: 5px;
}

.policy {
  font-size: 12px;
  line-height: 24px;
  font-family: "Trebuchet MS", sans-serif;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

.policy a {
  color: #ffffff;
}

.policy a:hover {
  text-decoration: underline;
}

/*=========================================================================
 MAP
========================================================================= */

dl {
  display: block;
  width: 100%;
}

dd span {
  float: right;
}

dl strong {
  display: block;
}

.map iframe {
  width: 100%;
  height: 250px;
  margin: 0;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .block-ident-1 {
    padding-right: 0px;
  }

  .block-ident-2 {
    padding-right: 10px;
  }

  .block-ident-3 {
    padding-right: 0px;
  }

  .block-1 img {
    width: 160px;
    border-bottom: 5px solid #ecebe7;
  }

  .rt-block-5 {
    display: none;
  }

  .block-2 img {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    behavior: url(js/PIE.htc);
  }

  .block-2-1 {
    width: 406px;
  }

  .block-3 img {
    width: 160px;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
    border-bottom: 5px solid #ecebe7;
    behavior: url(js/PIE.htc);
  }

  .block-3-1 {
    width: 165px;
  }

  .block-4 img {
    width: 260px;
    margin-top: 16px;
  }

  .block-4-1 {
    width: 205px;
    margin-left: 20px;
  }

  .figure-1 a.left-image {
    margin-right: 5px;
    width: 101px;
  }

  .figure-1 a.right-image {
    margin-left: 5px;
    width: 101px
  }

  .block-6-1 {
    float: left;
    width: 260px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .spa-packages {
    display: none;
  }

  nav {
    float: none;
    background: none;
  }

  .spa-packages {
    display: none;
  }

  .block-ident-1 {
    padding-right: 0px;
  }

  .block-ident-2 {
    padding-right: 0px;
  }

  .login, .call {
    display: none;
  }

  .slogan {
    display: none;
  }

  .banner-1 {
    position: relative;
    left: 50%;
    margin-left: -110px;
  }

  .block-1 img {
    border-right: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    behavior: url(js/PIE.htc);
  }

  .block-1-1 {
    width: 260px;
  }

  .block-2 img {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border-right: none;
    behavior: url(js/PIE.htc);
  }

  .block-2-1 {
    width: 260px;
  }

  .block-3 img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-right: none;
    width: 100%;
    behavior: url(js/PIE.htc);
  }

  .block-3-1 {
    width: 260px;
  }

  .block-4-1 {
    width: 100%;
    margin-left: 0;
  }

  .block-ident-3 {
    padding-right: 0px;
  }

  .rt-block-5 {
    display: none;
  }

  .block-6 img {
    width: 100%;
  }

  .block-6-1 {
    float: left;
    width: 280px;
    margin-left: 0px;
  }

  .rt-ident-bottom-1 {
    margin-bottom: 30px;
  }

  .block-ident-4 {
    padding-right: 0;
  }

  .sidebar {
    padding-left: 0;
  }

  .sidebar-blog {
    padding-left: 0;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .img-border-bg {
    margin: 4px 0 20px 0;
  }

  .slogan {
    display: block;
    margin-left: 15px;
    padding-left: 15px;
  }

  .block-1 img {
    border-right: 5px solid #ecebe7;
    border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    width: 220px;
  }

  .block-1-1 {
    width: 154px;
  }

  .block-2 img {
    width: 100%;
  }

  .block-2-1 {
    width: 380px;
  }

  .block-3 img {
    width: 210px;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
    border-bottom: none;
    behavior: url(js/PIE.htc);
  }

  .block-3-1 {
    width: 165px;
  }

  .block-4 img {
    width: 200px;
    margin-top: 16px;
  }

  .block-4-1 {
    float: left;
    width: 180px;
    margin-left: 20px;
    padding-top: 18px;
  }

  .block-6 img {
    width: 140px;
  }

  .block-6-1 {
    float: left;
    width: 260px;
    margin-left: 15px;
  }

  .figure-1 a.left-image {
    margin-right: 10px;
    width: 188px;
  }

  .figure-1 a.right-image {
    margin-left: 10px;
    width: 188px;
  }

  .rt-block-2 {
    width: 180px !important;
    float: left;
    margin-right: 30px;
  }

  .rt-block-3 {
    width: 180px;
    float: left;
    margin-right: 30px;
  }
}
/*
new_height
 */
.height_new {
  height: 1460px;
}

/*
H7 style
 */
/*
Author: W3layout
Author URL: http//w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http//creativecommons.org/licenses/by/3.0/
*/
/* reset */
.wrap{
  margin:0 auto;
  width:80%;
}
.header_bg{
  background: #08032f;
}
.header{
  padding:0% 4%;
}
.logo{
  float:left;
}
/*--- social-icons ----*/
.social-icons {
  float:right;
}
.social-icons li:first-child{
  margin-left: 0;
}
.social-icons li{
  float:left;
  margin-left:15px;
}
.social-icons li a {
  height: 26px;
  width: 26px;
  display: block;
  background:url(../images/soc_icons.png);
}
.social-icons li:nth-child(1) a{
  background: url(../images/soc_icons.png) 0% 0%;
}
.social-icons li:nth-child(1) a:hover{
  background: url(../images/soc_icons.png) 0% 98%;
}
.social-icons li:nth-child(2) a{
  background: url(../images/soc_icons.png) 32% 0%;
}
.social-icons li:nth-child(2) a:hover{
  background: url(../images/soc_icons.png) 32% 98%;
}
.social-icons li:nth-child(3) a{
  background: url(../images/soc_icons.png) 66% 0%;
}
.social-icons li:nth-child(3) a:hover{
  background: url(../images/soc_icons.png) 66% 98%;
}
.social-icons li:nth-child(4) a{
  background: url(../images/soc_icons.png) 100% 0%;
}
.social-icons li:nth-child(4) a:hover{
  background: url(../images/soc_icons.png) 100% 98%;
}
/* start header_btm */
.header_btm{
  background: #ffffff;
  border-bottom: 5px solid #e6e6e6;
}
.header_sub{
  padding: 0 4%;
}
/* start menu */
.h_menu{
  float:left;
  margin-bottom: 4px;
}
.h_menu ul li{
  margin-right:20px;
  float: left;
}
.h_menu ul li.active a{
  color: #00BAC6;
  border-bottom:2px solid #00BAC6;
}
.h_menu ul li a{
  display:block;
  padding: 30px 15px;
  text-transform: uppercase;
  font-size: 0.925em;
  color:#555555;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.h_menu ul li a:hover{
  color: #00BAC6;
  border-bottom:2px solid #00BAC6;
}
/*search*/
.h_search{
  float: right;
  position: relative;
  border: 1px solid rgb(216, 216, 216);
  margin: 20px 0;
  width: 24.3333%;
}
.h_search input[type="text"]{
  -webkit-appearance: none;
  font-family: 'Open Sans', sans-serif;
  padding:10px 16px;
  outline: none;
  color: #312c3c;
  background: #FFFFFF;
  border: none;
  width: 78.33333%;
  line-height: 1.5em;
  position: relative;
  font-size: 0.8725em;
  text-transform: capitalize;
}
.h_search input[type="submit"]{
  -webkit-appearance: none;
  background:url('../images/search.png') no-repeat 10px 10px;
  padding: 10px 0px;
  border: none;
  cursor: pointer;
  width: 14.33%;
  line-height: 1.5em;
  outline: none;
  position: absolute;
  right:0px;
}
.h_search input[type="submit"]:hover {
  background: url('../images/search_h.png') no-repeat 10px 10px;
}
/*--- start iphone_nav -----*/
.sub-head{
  display:none;
  background: #FFFFFF;
  border-bottom: 4px solid #00BAC6;
}
.sub-head li{
  display:inline-block;
  float:left;
  width:50%;
  text-align:center;
}
.sub-head li a span{
  position:absolute;
  top:12px;
  left:12px;
  width:16px;
  height:16px;
  display:inline-block;
}
.sub-head li a.active{
  color:#fff;
  background: #00BAC6;
}
.sub-head li:first-child a{
  border-right:1px solid rgb(150, 148, 148);
}
.sub-head a{
  text-transform: uppercase;
  font-size: 1em;
  position:relative;
  display:block;
  color:#555;
  padding:10px;
}
.menu{
  background: #f0f0f0;
}
.menu li{
  display:block;
}
.menu li a{
  font-size:0.8125em;
  text-transform:uppercase;
  display:block;
  padding:10px;
  color:#555;
  border-bottom: 1px solid rgb(199, 199, 199);
}
.menu li:last-child a{
  border-bottom:none;
}
.search{
  display:block;
  padding:10px;
  text-align:center;
  background: #f6f6f6;
}
.search input[type=text]{
  width: 90%;
  padding: 10px;
  border: 1px solid rgb(217, 218, 215);
  color: #555;
  font-size: 13px;
  background: #FFF;
  outline: none;
}
.back-btn {
  cursor: pointer;
  background: rgb(71, 71, 71);
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
}
.back-btn ul li{
  display:inline-block;
  padding: 4px 6px;
}
.back-btn ul li:before{
  content: url('../images/back.png');
}
.back-btn ul li a {
  padding: 4px 10px;
  font-size:13px;
  color: #fff;
  margin-left:-8px;
  line-height: 1.7em;
  vertical-align: bottom;
}
/* start slider */
.slider_bg{
  background:  url('../images/header-bg.jpg');
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slider{
  padding: 0% 4%;
}
/* start main */
.main{
  padding: 0% 4%;
}
.main_text{
  text-align:center;
}
.main_text h2{
  font-size: 2em;
  text-transform: uppercase;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
  margin-bottom: 2%;
}
.main_text h2 span{
  color: #555555;
  -webkit-text-stroke: 2px;
}
/** para style **/
p.para{
  font-size: 0.8725em;
  color: #555555;
  line-height: 1.8em;
}
/* start grids_of_3 */
.grids_of_3{
  text-align:center;
  margin: 6% 0 4%;
}
.grid1_of_3:first-child{
  margin-left: 0;
}
.grid1_of_3{
  float:left;
  width: 30.3333%;
  margin-left: 3.3333%;
}
.grid1_of_3 h3{
  margin: 2% 0;
}
.grid1_of_3 h3 a{
  font-size: 1.2em;
  text-transform: capitalize;
  color: #555555;
  text-shadow: 0 1px 0 #ffffff;
  font-weight: 600;
}
.grid1_of_3 h3 a span{
  color: #777777;
  font-weight: normal;
}
.grid1_of_3 p{
  font-size: 0.8125em;
  color: #555555;
  line-height: 1.8em;
  width: 80%;
  margin: 0 auto;
}
/* start span_of_3 */
.main_bg{
  background: #eeeeee;
}
.content_top{
  text-align:center;
  position: relative;
}
.content_top:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 40px solid #eee;
  border-top: 0 solid rgba(0, 0, 0, 0)!important;
  border-right: 35px solid rgba(0, 0, 0, 0)!important;
  border-left: 35px solid rgba(0, 0, 0, 0)!important;
  left: 47%;
  top: -40px;
  margin-left: -10px;
}
.span_of_3{
  margin: 4% 0 0;
}
.span_of_3:first-child{
  margin: 0;
}
.span1_of_3{
  float:left;
  width: 30.3333%;
  margin-left: 3.3333%;
  border: 1px solid rgb(206, 206, 206);
}
.span1_of_3:first-child{
  margin-left: 0;
}
.span1_of_3 img{
  width:100%;
}
.span1_of_3_text{
  padding: 20px;
}
.span1_of_3 h3{
  margin-bottom: 2%;
}
.span1_of_3 h3 a{
  font-size: 1em;
  text-transform: capitalize;
  color: #555555;
  text-shadow: 0 1px 0 #ffffff;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.span1_of_3 h3 a:hover{
  color: #00BAC6;
}
.span1_of_3 p{
  font-size: 0.8125em;
  color: #555555;
  line-height: 1.8em;
}
/* start cauresol */
.nbs-flexisel-container {
  padding:4% 0;
  position: relative;
  max-width: 100%;
}
.nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}
.nbs-flexisel-inner {
  overflow: hidden;
  width:90%;
  margin: 0 auto;
}
.nbs-flexisel-item {
  float: left;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  position: relative;
  line-height: 0px;
}
.nbs-flexisel-item > img {
  width:200px;
  height:100px;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100px;
  max-height: 45px;
}
/*** start cauresol  navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
  width: 46px;
  height: 100px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
.nbs-flexisel-nav-left {
  left: 0px;
  background: url(../images/img-sprite.png) no-repeat -19px -21px;
}
.nbs-flexisel-nav-right {
  right: 0px;
  background: url(../images/img-sprite.png) no-repeat -55px -20px;
}
/* start footer */
.footer_bg{
  background:url('../images/footer_bg.png');
}
.footer{
  padding: 5% 4%;
}
.span_of_4{
  display: block;
}
.span1_of_4{
  float:left;
  width: 22.3333%;
  margin-left: 3.3333%;
}
.span1_of_4:first-child{
  margin-left: 0;
}
.span1_of_4 h4{
  margin-bottom:8%;
  font-size: 1.5em;
  text-transform: capitalize;
  color: #ffffff;
  text-shadow: 0 1px 0 #555555;
}
.span1_of_4 p{
  font-size: 0.8725em;
  line-height:1.8em;
  color: #c9c9c9;
}
.span1_of_4 p a{
  color: #c9c9c9;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.span1_of_4 p a:hover{
  color: #00BAC6;
}
.span1_of_4 p.top{
  border-top: 1px solid rgb(99, 99, 99);
  margin-top: 20px;
  padding-top: 10px;
}
.span1_of_4 p.btm{
  margin-bottom: 8%;
}
.span1_of_4 p.btm1{
  margin-bottom: 4%;
}
.f_nav1{
  margin-top: 2%;
}
.f_nav1 li {
  display:inline-block
}
.f_nav1 li.timer{
  background: url('../images/timer.png') no-repeat;
}
.f_nav1 li a{
  padding-left:30px;
  font-size: 0.8725em;
  color: #999999;
}
.pin{
  background: url('../images/pin.png') no-repeat;
  padding-left: 30px;
}
.mail{
  background: url('../images/mail.png') no-repeat;
  padding-left: 30px;
}
.call{
  background: url('../images/call.png') no-repeat;
  padding-left: 30px;
}
big {
  font-size: 1.5em;
  color: #ffffff;
}
/* start footer1 */
.footer_bg1{
  background:url('../images/footer_bg1.png');
}
.footer1{
  padding: 4% 4%;
}
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url(../images/top-move.jpg) no-repeat right top;
}
.copy{
  float:left;
}
.copy p{
  font-size: 0.8725em;
  line-height: 1.8em;
  color: #c9c9c9;
}
.copy p a{
  color:#ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.copy p a:hover{
  color: #00BAC6;
}
/* start about */
.top_bg{
  background:  url('../images/slider_bg1.jpg');
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.top{
  padding: 4% 4%;
}
.top h2{
  font-size: 2em;
  color: #ffffff;
  text-transform: uppercase;
}
.about{
  display: block;
}
.cont-grid {
  float: left;
  width: 60.3333%;
}
.cont-grid-img{
  margin-left: 3.3333%;
  width: 36.33333%;
  float:left;
}
.cont-grid-img img{
  margin-top: 10px;
}
.cont-grid span{
  font-size: 1.5em;
  text-transform: uppercase;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}
.abt-para p{
  margin-top: 2%;
}
.about-p{
  margin-top:20px;
}
.read_more {
  margin-top: 2%;
}
.btn{
  color: #00BAC6;
  background: #ffffff;
  border: 1px solid #22D5E0;
  display: inline-block;
  text-transform: uppercase;
  padding: 12px 38px;
  font-size: 0.875em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background: #00BAC6;
  color: #ffffff;
}
/* start services */
.ser_btn{
  position: relative;
  margin-top: 12%;
}
.ser_btn1{
  position: absolute;
  bottom: 0;
  left: 0;
}
.button {
  color: #555555;
  border-top: 1px solid rgb(221, 221, 221);
  display: block;
  text-align:center;
  text-transform: uppercase;
  font-size: 0.875em;
  width: 100%;
  padding:12px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background: #00BAC6;
  color: #ffffff;
}
/* start blog */
.blog {
  display: block;
}
.blog_list{
  margin-top: 4%;
}
.blog_list:first-child{
  margin-top: 0%;
}
.blog_list h2{
  font-size: 1.5em;
  text-transform: uppercase;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}
.blog_list h5{
  margin-top:8px;
  font-size: 1em;
  text-transform: capitalize;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}
.blog_list h5 a{
  color: #00BAC6;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog_list h5 a:hover{
  color: #777777;
}
.blog_para{
  margin: 2% 0;
}
.blog_para p a{
  float: left;
  margin-right: 4%;
}
.blog_para p a img{
  margin-top: 10px;
}
/* start contact */
.contact{
  display: block;
}
.contact h2{
  font-size: 1.5em;
  text-transform: uppercase;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}
.map{
  margin: 2% 0;
}
.col{
  display: block;
}
.contact-form{
  position:relative;
}
.contact-form div{
  padding:5px 0;
}
.contact-form span label{
  color: #777777;
  display: block;
  font-size: 0.8725em;
  padding-bottom: 5px;
  text-transform: capitalize;
}
.contact-form input[type="text"], .contact-form textarea {
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  color: rgba(85, 81, 81, 0.84);
  padding: 8px;
  display: block;
  width: 98%;
  outline: none;
  -webkit-appearance: none;
  text-transform: capitalize;
}
.contact-form textarea{
  resize:none;
  height:120px;
}
.contact-form input[type="submit"]{
  margin-top:10px;
  font-family: 'Open Sans', sans-serif;
  -webkit-appearance: none;
  cursor:pointer;
  color: #00BAC6;
  background: #ffffff;
  border: 1px solid #22D5E0;
  display: inline-block;
  text-transform: uppercase;
  padding: 12px 38px;
  font-size: 0.875em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contact-form input[type="submit"]:hover{
  background: #00BAC6;
  color: #ffffff;
}
/* start details */
.details{
  display: block;
}
.details h2{
  font-size: 1.5em;
  text-transform: uppercase;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}
.det_pic{
  margin: 2% 0;
}
/***** Media Quries *****/
@media only screen and (max-width: 1366px) {
  .wrap{
    width:95%;
  }
  .h_menu ul li a {
    padding: 30px 12px;
  }
}
@media only screen and (max-width: 1280px) {
  .wrap{
    width:95%;
  }
  .h_menu ul li a {
    padding: 30px 10px;
    font-size: 0.8125em;
  }
}
@media only screen and (max-width: 1024px) {
  .wrap{
    width:95%;
  }
  .h_menu ul li a {
    padding: 30px 6px;
    font-size: 0.8125em;
  }
  .h_search input[type="submit"] {
    right: 6px;
  }
  .h_search {
    width: 26.3333%;
  }
}
@media only screen and (max-width: 800px) {
  .wrap{
    width:95%;
  }
  .h_menu{
    display:none;
  }
  .h_search{
    display:none;
  }
  .sub-head{
    display:block;
  }
  .span1_of_4 h4 {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 640px){
  .wrap{
    width:95%;
  }
  .span1_of_4 {
    float: none;
    width: 99.3333%;
    margin-left: 0%;
  }
  .span1_of_4 h4 {
    margin: 2% 0;
  }
  .span1_of_4 p.btm {
    margin-bottom: 2%;
  }
  .social-icons li {
    float: none;
    display:inline-block;
  }
  .cont-grid {
    float: none;
    width: 99.3333%;
  }
  .cont-grid-img {
    margin-left: 0%;
    width: 99.33333%;
    float: none;
  }
  .main_text h2 {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 480px) {
  .wrap{
    width:95%;
  }
  .grids_of_3{
    margin-top: 4%;
  }
  .grid1_of_3 {
    float: none;
    width: 99.3333%;
    margin-left: 0;
  }
  .span1_of_3 {
    margin-top: 4%;
    float: none;
    width: 99.3333%;
    margin-left: 0;
  }
  .logo{
    float:none;
    text-align:center;
  }
  .copy{
    float:none;
    text-align:center;
  }
  .social-icons{
    margin-top:4%;
    float:none;
    text-align:center;
  }
  .top h2 {
    font-size: 1.5em;
  }
  .blog_list h2 {
    font-size: 1em;
  }
  .contact h2 {
    font-size: 1em;
  }
  .sub-head a {
    font-size: 0.8725em;
  }
  .cont-grid span{
    font-size: 1em;
  }
  big {
    font-size: 1em;
  }
  .details h2 {
    font-size: 1em;
  }
  .grid1_of_3{
    margin: 20px 0;
  }
  .grid1_of_3 img{
    width:20%;
  }
}
@media only screen and (max-width: 320px) {
  .wrap{
    width:95%;
  }
  .sub-head a {
    font-size: 0.8125em;
  }
  .grid1_of_3{
    margin: 20px 0;
  }
  .grid1_of_3 img{
    width:20%;
  }
  .content_top:after {
    border: 20px solid #eee;
    border-top: 0 solid rgba(0, 0, 0, 0)!important;
    border-right: 15px solid rgba(0, 0, 0, 0)!important;
    border-left: 15px solid rgba(0, 0, 0, 0)!important;
    left: 47%;
    top: -20px;
  }
}
