extends ../index.jade

block tools
  .grid_12.ident-bot-2
    h3 专用工具
    .tab-container
      #tab1.tab-content
        .grid_12
          .block-ident-3
            h2 RZTYJ系列应急夹板双肩包
            .grid_12.alpha.block-ident-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/tools/RZTYJ.jpg', data-gal='prettyPhoto[pp_gal_2]')
              img.img-border.fleft(src='images/portfolio/product/tools/RZTYJ.jpg', alt='')
          .grid_12
            h1 产品特点
            p
              strong
                | 牢固耐用 :
            p
              | 产品采用特制加厚材料， 耐磨、耐 老化，能够承受100Kg重力承压;
            p
              strong
                | 人性化设计 :
            p
              | 此款应急夹板双肩包经多次改进更 新，结合人体工程学设计，
              | 考虑人 力运输的特点，充分考虑舒适性， 可靠性和便携性;
            p
              strong
                | 安全快捷 :
            p
                | 采用双肩携带充分分解了钢板压力，确保运输工人人身安全，
                | 从而保证夹板能够及时快速的运到抢险现场。
