extends ../index.jade

block about
  .grid_10.ident-bot-2
    .block-ident-3
      h2 公司简介
      .grid_4.alpha.block-ident-2
        .img-border-bg
          img.img-border.fleft(src='images/pic1.jpg', alt='')
      p.ident-bot-2
        strong
          | 广州荣知通信息科技有限公司成立于2016年, 是一家致力于工业智能化领域产品研发、生产、销售和售后服务为一体的高科技企业。
      p
        | 公司集中了一批国内外在硬件、软件、管理、营销等领域的一批专家型青年才俊,积极响应国家“大众创业,万众创新”的号召,致力于为
        | 中国工业企业转型升级提供个性化的智能应用解决方案。目前公司已拥有自己10余项核心专利技术, 并组建了专业化的硬件、软件研发
        | 团队, 与铁路、电网等大型企业进行针对性研发合作,持续提升公司的创新能力和水平。
      a.button(href='#') Continue Reading

