extends ../index.jade

block about
  .grid_10.ident-bot-2
    .block-ident-3
      h2 公司简介
      .grid_4.alpha.block-ident-2
        .img-border-bg
          img.img-border.fleft(src='images/pic1.jpg', alt='')
      p.ident-bot-2
        strong
          | 广州荣知通信息科技有限公司成立于2016年, 是一家致力于工业智能化领域产品研发、生产、销售和售后服务为一体的高科技企业。
      p
        | 公司集中了一批国内外在硬件、软件、管理、营销等领域的一批专家型青年才俊,积极响应国家“大众创业,万众创新”的号召,致力于为
        | 中国工业企业转型升级提供个性化的智能应用解决方案。目前公司已拥有自己10余项核心专利技术, 并组建了专业化的硬件、软件研发
        | 团队, 与铁路、电网等大型企业进行针对性研发合作,持续提升公司的创新能力和水平。
      a.button(href='#') Continue Reading
    article.post-holder
      header
        h2.entry-title
          a(href='#') 公司简介
        .post-meta
          .fleft
            | Posted in:
            a(href='#') Aliquam felis est
            |  |
            .time July 12, 2012
            |                 , by
            a(href='#') admin
          .fright
            a(href='#') 6 comments
        // .post-meta
      figure.ident-bot-2
        a.img-border-bg(href='#')
          img.img-border.attachment-post-thumbnail.wp-post-image(alt='', src='images/blog/post1.jpg')
      p.ident-bot-2
        | Curabitur tincidunt iaculis ipsum, eu malesuada tellus congue a. Quisque aliquet, enim eget consequat scele, lectus nibh pulvinar lectus, ac vestibulum nisl urna quis magna. Quisque laoreet pulvinar orci, eget tempor ante consectetur in. Nullam et lorem ut magna aliquet eleifend scelerisque eu justo.
      p.ident-bot-2
        | Maecenas sollicitudin, urna sit amet tristique euismod, tellus orci malesuada sapien, ut volutpat ante augue interdum leo. Ut neque massa, lacinia et consectetur ac, sodales ac risus. Proin ullamcorper, elit sit amet pulvinar aliquet, tellus ipsum dapibus ipsum, a tristique ligula leo sit amet tellus.
      p.ident-bot-2
        | Donec consectetur libero ut tortor condimentum eu egestas est viverra. Sed eget turpis dui, sed auctor nisi. Fusce suscipit risus sed tortor mattis sollicitudin. Vivamus dictum, nisl sed aliquet sodales, nisi ipsum interdum metus, quis rhoncus felis ligula sit amet nisi. Quisque ultricies turpis nec ipsum rutrum condimentum.
      p.ident-bot-2
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit massa vel mauris sollicitudin dignissim. Phasellus ultrices tellus eget ipsum ornare molestie scelerisque.
      .addthis_toolbox.addthis_pill_combo
        a.addthis_button_google_plusone(g:plusone:size='medium')
        a.addthis_button_tweet(tw:count='horizontal')
        a.addthis_button_facebook_like

