extends ../index.jade
// 继承news中的content_1

block content_1
  // 动态
  .grid_8.ident-bot-2
    h2.ident-bot-10 图片预览
    #carousel-1.es-carousel-wrapper
      .es-carousel
        ul
          li
            .grid_2.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/port-1.jpg')
            .tagline
              h3 Aenean auctor wisi et urna
            a(href='#') read more —
    .clear
    .separator
    h3 行内新闻
    ul.price-list-1
      li
        a(href='#') 吉林省司法厅将全面装备小鱼易连“司法慧眼”云视频会议
        span
          .time 九月 19, 2017
      li
        a(href='#') RZT亮相2016年第五届中国（惠州）物联网·云计算技术应用博览会
        span
          .time 十一月 1日~3日, 2016
      li
        a(href='#') Fusce euismod consequat ante
        span
          .time 一月 12, 2012
      li
        a(href='#') Lorem ipsum dolor sit amet
        span
          .time 一月 12, 2012
      li
        a(href='#') Consectetuer adipiscing elit
        span
          .time 一月 12, 2012
      li
        a(href='#') Pellentesque sed dolor
        span
          .time 一月 12, 2012
      li
        a(href='#') Aliquam congue fermentum nisl
        span
          .time 一月 12, 2012
      li
        a(href='#') Mauris accumsan nulla vel diam
        span
          .time 一月 12, 2012
      li
        a(href='#') Nulla sed adipiscing venenatis
        span
          .time 一月 12, 2012
      li
        a(href='#') In pede mi, aliquet sit amet
        span
          .time 一月 12, 2012
      li
        a(href='#') Euismod in,auctor ut, ligula
        span
          .time 一月 12, 2012

