extends ../index.jade
// 继承news中的content_1

block content_1
  // 动态
  .gid_12.ident-bot-2
    h3 行内新闻
    ul.price-list-1
      li
        a(href='#') 吉林省司法厅将全面装备小鱼易连“司法慧眼”云视频会议
        span
          .time 九月 19, 2017
      li
        a(href='#') 小鱼号是什么？
        span
          .time 五月 10, 2017
      li
        a(href='#') 小鱼办公小鱼易连手机APP软件/PC电脑版下载
        span
          .time 五月 05, 2017
      li
        a(href='/TradeNews-1') 小鱼易连 开启视频新时代
        span
          .time 四月 12, 2017
      li
        a(href='#') RZT亮相2016年第五届中国（惠州）物联网·云计算技术应用博览会
        span
          .time 十一月 1日~3日, 2016
