extends ../index.jade

block JoinUs
  .grid_10
    .grid_6
      h2 地址：→
      #map.map.img-border-2.ident-bot-2

    .grid_5
      dl
        dt.ident-bot-2
          strong
            | 广东省广州市番禺区
            br
            |             石壁街汉溪大道西283号奥园越时代广场东塔328室
        dd
          span 杨先生
          | 联系人：
        dd
          span +86 188 2471 7688
          | 手机:
        dd
          span +020-311 479 20
          | 电话:
        dd
          span +1 300 123 9898
          | FAX:
        dd
          | E-mail:
          a.link-1(href='#') mail@owltemplates.com
    .grid_12
      .clear
      .separator
    .grid_12
      h1 招聘
      h2
        strong
          | Node.js/HTML5工程师
      p
        strong
          | 职位描述
      p
        | 岗位职责：
      p
        | 1、参与公司核心产品的开发，关键技术问题的研究；
      p
        | 2、负责智能视频监控，图像分析，工业设备等产品的开发；
      p
        | 技能要求：
      p
        | 1、扎实的JavaScript开发基础，有2年以上JavaScript开发经验；
      p
        | 2、能用NodeJS开发服务端及客户端应用, 理解NodeJS异步非阻塞的编程模型；
      p
        | 3、掌握jquery,json,xml,CSS等Web开发技术及HTML5技术规范；
      p
        | 4、良好的数据库基础，熟悉常用的关系型数据库及文件数据库，精通MongoDB；
      p
        | 5、掌握Git软件版本管理工具的使用；
      p
        | 6、 熟悉RTMP，HLV播放;
      p
        | 7、有视频直播项目经验者优先;
      p
        | 素质要求：
      p
        | 1.高度的责任感和良好的敬业精神，注重沟通，讲求团队合作以达到工作目标；
      p
        | 2.学习能力强，善于思考，具有刻苦钻研精神，能通过持续学习与组织共同发展；
      p
        | 3.具有较强的主观能动性，主动工作、主动学习、主动沟通、主动帮助；
      p
        | 4.良好的道德品质与个人修养。
      .clear
      .separator
      h2
        strong
          | 视频服务器开发工程师
      p
        strong
          | 职位描述
      p
        | 岗位职责：
      p
        | 1、参与公司核心产品的开发，关键技术问题的研究；
      p
        | 2、负责智能视频监控，图像分析，工业设备等产品的开发；
      p
        | 技能要求：
      p
        | 1、计算机或相关专业本科及以上学历，2年以上C++开发经验；
      p
        | 2、熟悉Linux数据，网络服务器开发；
      p
        | 3、了解视频编解码技术；
      p
        | 4、有视频流媒体服务器，视频监控产品开发经验更佳；
      p
        | 素质要求：
      p
        | 1.高度的责任感和良好的敬业精神，注重沟通，讲求团队合作以达到工作目标；
      p
        | 2.学习能力强，善于思考，具有刻苦钻研精神，能通过持续学习与组织共同发展；
      p
        | 3.具有较强的主观能动性，主动工作、主动学习、主动沟通、主动帮助；
      p
        | 4.良好的道德品质与个人修养。

  div(style='display:none')
    script(src='http://webapi.amap.com/maps?v=1.4.3&key=24a85acd34ad1ddfc8ae75171fb95e41', language='JavaScript', charset='utf-8')


