extends ../index

block content
  // carousel
  .row-2
    .container_12
      .grid_12
        .flexslider
          ul.slides
            li
              img(src='images/slider/slide-3.png', alt='')
              .flex-caption
                .flex-bg
                  .flex-border-1
                    .slide-text-1.ident-bot-1 MAXHUB
                    .slide-text-2
                      | 电子白板 无线传屏，一键投影；远程会议，异地同屏；应用商城，丰富拓展；快捷精灵，任意批注；高保真音响，最高4K超高清显示。。。
                      a.button-4(href='#') 详细
            li
              img(src='images/slider/slide-2.png', alt='')
              .flex-caption
                .flex-bg
                  .flex-border-1
                    .slide-text-1.ident-bot-1  荣知通云视讯应用
                    .slide-text-2
                      | 创新的智能硬件产品 自主研发的音视频算法 电信运营级SaaS服务。。。
                      a.button-4(href='#') 详细
            li
              img(src='images/slider/slide-3.png', alt='')
              .flex-caption
                .flex-bg
                  .flex-border-1
                    .slide-text-1.ident-bot-1 音视频记录仪
                    .slide-text-2
                      | 该产品采用高速处理器和嵌入式Linux操作系统，集高清视频、音频、4G和WiFi无线通讯模块、GPS/北斗、存储、报警等模块，可配置微型高清摄像头及耳机。。。
                      a.button-4(href='#') 详细
            li
              img(src='images/slider/slide-4.jpg', alt='')
              .flex-caption
                .flex-bg
                  .flex-border-1
                    .slide-text-1.ident-bot-1 智能硬件
                    .slide-text-2
                      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, diam nonuibh.
                      a.button-4(href='#') 详细
      .clear
  //content
  section#content
    .container_12
      .separator
        .notify
          .icon-nf
            img(src='images/icons/icon-notification.png', alt='')
          h2
            | 三大核心产品系列
            strong.sub-heading – 创新是我们唯一的出路
          .notify-wrapper
            span.button-border.button-radius-50
              a.button-green.button-radius-50(href='#') 详细
      .wrapper
        .grid_4
          a(href='#')
            .box1
              .imgs
                img.img-1(src='images/icons/1page_img1.png', alt='')
                img.img-2(src='images/icons/1page_img1-hover.png', alt='')
              h3 云视讯系列
              p
                | ·构架于阿里云，联通云，等云服务
              p
                | ·冗余异地备份，高可靠性
              p
                | ·高保真全向数字麦克风，8米有效拾音距离
              p
                | ·支持4K高清视频,摄像云台可转动控制，12倍光学变焦
              p
                | ·支持手机、Pad、PC、Mac全平台浏览器直接观看

        .grid_4
          a(href='#')
            .box1
              .imgs
                img.img-1(src='images/icons/1page_img2.png', alt='')
                img.img-2(src='images/icons/1page_img2-hover.png', alt='')
              h3  智能硬件
              p
                | ，
        .grid_4
          a(href='#')
            .box1
              .imgs
                img.img-1(src='images/icons/1page_img3.png', alt='')
                img.img-2(src='images/icons/1page_img3-hover.png', alt='')
              h3 专业工具
              p
                | 。
      .separator
      aside.wrapper.overflow-vis
        .grid_12.ident-bot-2
          h2.ident-bot-10 新闻动态
          #carousel-1.es-carousel-wrapper
            .es-carousel
              ul
                li
                  .grid_3.alpha.ident-bot-2
                    a.lightbox-image.img-border-bg(href='images/portfolio/port-1.jpg', data-gal='prettyPhoto[pp_gal_1]')
                      img.img-border(alt='', src='images/portfolio/port-1.jpg')
                  .tagline.grid_3
                    h3 个人通信已迈入沟通3.0时代
                    p
                      | 从人类的诞生到今天，人们在创造新的沟通方式上进行不懈的努力和探索：语言的产生、文字的创造，互联网的发展与普及都使人类沟通进入了一个更加文明的时代。人类的智慧与灵感将带动科技进步，这种进步为人类创造更新的生活方式提供了可能。
                    a(href='#') read more —
                li
                  .grid_3.alpha.ident-bot-2
                    a.lightbox-image.img-border-bg(href='images/portfolio/port-2.jpg', data-gal='prettyPhoto[pp_gal_1]')
                      img.img-border(alt='', src='images/portfolio/port-2.jpg')
                  .tagline.grid_3
                    h3 Aenean auctor wisi et urna
                    p
                      | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
                    a(href='#') read more —
                li
                  .grid_3.alpha.ident-bot-2
                    a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                      img.img-border(alt='', src='images/portfolio/port-3.jpg')
                  .tagline.grid_3
                    h3 Aenean auctor wisi et urna
                    p
                      | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
                    a(href='#') read more —
                li
                  .grid_3.alpha.ident-bot-2
                    a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                      img.img-border(alt='', src='images/portfolio/port-4.jpg')
                  .tagline.grid_3
                    h3 Aenean auctor wisi et urna
                    p
                      | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
                    a(href='#') read more —
                li
                  .grid_3.alpha.ident-bot-2
                    a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                      img.img-border(alt='', src='images/portfolio/port-5.jpg')
                  .tagline.grid_3
                    h3 Aenean auctor wisi et urna
                    p
                      | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
                    a(href='#') read more —
                li
                  .grid_3.alpha.ident-bot-2
                    a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                      img.img-border(alt='', src='images/portfolio/port-6.jpg')
                  .tagline.grid_3
                    h3 Aenean auctor wisi et urna
                    p
                      | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
                    a(href='#') read more —
                li
                  .grid_3.alpha.ident-bot-2
                    a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                      img.img-border(alt='', src='images/portfolio/port-7.jpg')
                  .tagline.grid_3
                    h3 Aenean auctor wisi et urna
                    p
                      | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
                    a(href='#') read more —
                li
                  .grid_3.alpha.ident-bot-2
                    a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                      img.img-border(alt='', src='images/portfolio/port-8.jpg')
                  .tagline.grid_3
                    h3 Aenean auctor wisi et urna
                    p
                      | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
                    a(href='#') read more —
        .clear
      .separator
      .wrapper
        .grid_12
          .box2
            .quotes
              .flexslider2
                ul.slides
                  li
                    blockquote
                      p
                        | 企业宗旨： 凝聚智慧 服务社会.
                      p
                        | 企业愿景： 做世界工业智能化领域的引领型企业.
                  li
                    blockquote
                      p
                        | 企业价值观： 同创造 齐分享
                      p
                        | 人才观： 激情 担当 团队
                  li
                    blockquote
                      p
                        | 服务理念： 快速 主动 优质
                      p
                        | 产品开发理念： 智能科技 简单可靠 实用
            .search-ft
              form#search-ft
                input(value='e-mail address', onblur="if(this.value=='') this.value='e-mail address'", onfocus="if(this.value =='e-mail address' ) this.value=''", type='text')
                a.newsletter-button(onclick="document.getElementById('search').submit()") More
      .clear



