extends ../index

block content
  .row-2
    .wrap
      .main
        .main_text
          .flexslider
            ul.slides
              li
                img(src='images/slider/1.jpg', alt='')

              li
                img(src='images/slider/slide-2.jpg', alt='')

              li
                img(src='images/slider/slide-3.jpg', alt='')

              li
                img(src='images/slider/4.jpg', alt='')

  //content
  section#content
    .container_12
      .wrapper
        .grid_4
          a(href='/cloudvideo')
            .box1
              .imgs
                img.img-1(src='images/icons/1page_img1.png', alt='')
                img.img-2(src='images/icons/1page_img1-hover.png', alt='')
              h3 云视讯系列
              div(data-spy='scroll', data-target='#navbar-example', data-offset='0', style='height:185px; overflow:auto; position:relative;')
                ul.price-list-1
                    li
                      a(href='/ME90')
                        | ※ ME90 （大型会场配置）
                    li
                      a(href='/ME40')
                        | ※ ME40 （中型会场配置）
                    li
                      a(href='/ME20')
                        | ※ ME20 （小型会场配置）
                    li
                      a(href='/NE60')
                        | ※ NE60 （小型会场配置）
                    li
                      a(href='/MAXHUB')
                        | ※ MAXHUB
                    li
                      a(href='/PJ')
                        | ※ 配件
        .grid_4
          a(href='/intel')
            .box1
              .imgs
                img.img-1(src='images/icons/1page_img2.png', alt='')
                img.img-2(src='images/icons/1page_img2-hover.png', alt='')
              h3  智能硬件
              div(data-spy='scroll', data-target='#navbar-example', data-offset='0', style='height:185px; overflow:auto; position:relative;')
                ul.price-list-1
                  li
                    a(href='/RZTSD001')
                      | 隧道检查仪
                  li
                    a(href='/RZTJK001')
                      | GPS摄影手电
                  li
                    a(href='/RZTXJ002')
                      | 音视频记录仪
                  li
                    a(href='/RZTM91H')
                      | M91H布控球
                  li
                    a(href='/RZTT006')
                      | 应急指挥箱
        .grid_4
          a(href='tools')
            .box1
              .imgs
                img.img-1(src='images/icons/1page_img3.png', alt='')
                img.img-2(src='images/icons/1page_img3-hover.png', alt='')
              h3 专业工具
              div(data-spy='scroll', data-target='#navbar-example', data-offset='0', style='height:185px; overflow:auto; position:relative;')
                ul.price-list-1
                  li
                    a(href='/RZTZA001')
                      | 太阳能铁路障碍灯
                  li
                    a(href='/RZTYJ')
                      | 应急夹板背包
        .clear
      .separator
      aside.wrapper.overflow-vis
        .grid_12.ident-bot-2
          h2.ident-bot-10 应用场景
          #carousel-1.es-carousel-wrapper
            .es-carousel
              ul#stage.portfolio-3column
                li
                  .grid_12.alpha.ident-bot-4
                    a.lightbox-imagea.img-border-bg(href='images/scenario/1.png', data-gal='prettyPhoto[pp_gal_1]', title='Project title')
                      img.img-border.max-image(src='images/scenario/1.png', alt='')
                  .tagline
                    h3 远程多方视频会议
                  p
                    | 可以实现实时的大规模多媒体会议功能，
                    | 多地之间进行的音频、视频、数据共享等各方面的交流协作。
                  a.textlink(href='/Promotion_1') 详细
                li
                  .grid_12.alpha.ident-bot-4
                    a.lightbox-image.img-border-bg(href='images/scenario/2.png', data-gal='prettyPhoto[pp_gal_1]', title='Project title')
                      img.img-border.max-image(src='images/scenario/2.png', alt='')
                  .tagline
                    h3 异地协同办公
                  p
                    | Word、PPT、Excel等各种文档和视频文件的共享和同步浏览，
                    | 支持手机中图片的分享等。。。
                  a.textlink(href='/Promotion_1') 详细
                li
                  .grid_12.alpha.ident-bot-4
                    a.lightbox-image.img-border-bg(href='images/scenario/3.png', data-gal='prettyPhoto[pp_gal_1]', title='Project title')
                      img.img-border.max-image(src='images/scenario/3.png', alt='')
                  .tagline
                    h3 远程教学和培训
                  p
                    | 可以实现主讲老师及参加人员之间的远程互动提问，学员既可以看到讲师的高清图像，又可以看到讲师的课件。
                  a.textlink(href='/Promotion_1') 详细
                li
                  .grid_12.alpha.ident-bot-4
                    a.lightbox-image.img-border-bg(href='images/scenario/4.png', data-gal='prettyPhoto[pp_gal_1]', title='Project title')
                      img.img-border.max-image(src='images/scenario/4.png', alt='')
                  .tagline
                    h3 远程招聘
                  p
                    | 作为远程招聘应用，突破了传统的招聘工作在时间、地域上的限制，也大大节省了面试者与被面试者的时间，提高工作效率。
                  a.textlink(href='/Promotion_1') 详细
                li
                  .grid_12.alpha.ident-bot-4
                    a.lightbox-image.img-border-bg(href='images/scenario/5.png', data-gal='prettyPhoto[pp_gal_1]', title='Project title')
                      img.img-border.max-image(src='images/scenario/5.png', alt='')
                  .tagline
                    h3 视频呼叫中心
                  p
                    | 通过小鱼建立企业视频客服中心，为企业VIP用户提供远程面对面服务，有效提升企业服务品质。
                  a.textlink(href='/Promotion_1') 详细
                li
                  .grid_12.alpha.ident-bot-4
                    a.lightbox-image.img-border-bg(href='images/scenario/6.png', data-gal='prettyPhoto[pp_gal_1]', title='Project title')
                      img.img-border.max-image(src='images/scenario/6.png', alt='')
                  .tagline
                    h3 大型培训直播、活动直播
                  p
                    | 对于企业大型的培训，除了互动之外，也经常会要求有直播和点播，方便讲培训课程保存，员工在任何时候都可以观看。
                  a.textlink(href='/Promotion_1') 详细
                li
                  .grid_12.alpha.ident-bot-4
                    a.lightbox-image.img-border-bg(href='images/scenario/7.png', data-gal='prettyPhoto[pp_gal_1]', title='Project title')
                      img.img-border.max-image(src='images/scenario/7.png', alt='')
                  .tagline
                    h3 应急指挥与监控融合
                  p
                    | 小鱼易连云平台提供基于移动互联网的完美解决方案，系统能够作为突发事件的应急指挥和调度平台。
                  a.textlink(href='/Promotion_1') 详细
                li
                  .grid_12.alpha.ident-bot-4
                    a.lightbox-image.img-border-bg(href='images/scenario/8.png', data-gal='prettyPhoto[pp_gal_1]', title='Project title')
                      img.img-border.max-image(src='images/scenario/8.png', alt='')
                  .tagline
                    h3 移动会议与沟通
                  p
                    | 通过小鱼云服务，移动用户可随时随地参与视频协作。
                  a.textlink(href='/Promotion_1') 详细
                li
                  .grid_12.alpha.ident-bot-4
                    a.lightbox-image.img-border-bg(href='images/scenario/9.png', data-gal='prettyPhoto[pp_gal_1]', title='Project title')
                      img.img-border.max-image(src='images/scenario/9.png', alt='')
                  .tagline
                    h3 电话会议
                  p
                    | 对移动商务人士来说，经常会出现网络的情况。小鱼易连支持即时在没有网络的情况下，通过手机语音接入，参加会议。
                  a.textlink(href='/Promotion_1') 详细
        .clear
      .separator
      .wrapper
        .grid_12
          .box2
            .quotes
              .flexslider2
                ul.slides
                  li
                    blockquote
                      p
                        | 企业宗旨： 凝聚智慧 服务社会.
                      p
                        | 企业愿景： 做世界工业智能化领域的引领型企业.
                  li
                    blockquote
                      p
                        | 企业价值观： 同创造 齐分享
                      p
                        | 人才观： 激情 担当 团队
                  li
                    blockquote
                      p
                        | 服务理念： 快速 主动 优质
                      p
                        | 产品开发理念： 智能科技 简单可靠 实用
            .search-ft
              form#search-ft
                input(value='e-mail address', onblur="if(this.value=='') this.value='e-mail address'", onfocus="if(this.value =='e-mail address' ) this.value=''", type='text')
                a.newsletter-button(href='mailto:yangjie@rztit.com') 发送
      .clear



