extends ../index.jade

block video
  .grid_10.ident-bot-2
    h3 云视讯系列
    ul.tab-menu
      li
        a(href='#tab1') 智能会议终端
      li
        a(href='#tab2') 智能会议云平台
      li
        a(href='#tab3') 智能显示设备
      li
        a(href='#tab4') 调度设备
    .tab-container
      #tab1.tab-content
        .grid_10(data-spy='scroll', data-target='#navbar-example', data-offset='0', style='height:700px; overflow:auto; position:relative;')
          .block-ident-3
            h2 NE系列 （小型会场）
            .grid_4.alpha.block-ident-2
              .img-border-bg
                img.img-border.fleft(src='images/portfolio/product/video/NE60_1.png', alt='')
            .grid_5
              p.ident-bot-2
                strong
                  | 全球首创一体化触屏视频会议智能终端
              p
                | 高度集成一体化硬件终端，极致简单用户体验高保真全向麦克风，8米拾音距离，1080P、90度超大广角光学摄像头、
                | 无畸变，专业高清视频硬件编码器，支持有线、WIFI及4G网络接入
              p
                | Integration of highly integrated hardware terminals, extreme simple user experience
                | high fidelity omnidirectional microphone, 8 meters pickup distance, 1080 p, 90 degrees of large wide-
                | angle optical camera, no distortion, professional hd video encoder, hardware support cable, WIFI,
                | and 4 g network access
          .block-ident-3
            h2 CE系列 （中型会场）
            .grid_4.alpha.block-ident-2
              .img-border-bg
                img.img-border.fleft(src='images/portfolio/product/video/CE40_EG.png', alt='')
              .img-border-bg
                img.img-border.fleft(src='images/portfolio/product/video/CE40_1.png', alt='')
            .grid_5
              p.ident-bot-2
                strong
                  | 轻量级高清视频会议终端
              p
                | 一体化ID设计，内置1080P高清摄像头、麦克风阵列,可发送1080P高清视频，
                | 接收4K超高清图像,安装部署方便快捷，操控简单,与高清电视组合，最佳性价比视频互动方案.
              p
                | 套装：主机（1）、摄像头（1）、全向麦克风（2）,
                | 7路视频输入，4路音频输入，3路视频输出,
                | 创新的小鱼触屏+语音控制，终端操作和会议管理简单便捷,
                | 摄像头云台可控制，12倍光学变焦,支持有线、无线网络连接.
              p
                | Integration ID design, built-in 1080 p hd camera, microphone array,
                | can send 1080 p hd video, and receive the 4 k high-definition images,
                | installation convenient and quick deployment, simple manipulation, combined with hd TV,
                | the best ratio of interactive video solutions
              p
                | Suit: host (1) the camera (1) the omnidirectional microphone (2),
                | 7 road video input, four-way audio input, 3 way video output,
                | the innovation of small touch screen + voice control,
                | terminal and meeting management simple and convenient operation, can control the camera haeundae,
                | 12 x optical zoom, support for cable and wireless network connection.
          .block-ident-3
            h2 ME系列 （大型会场）
            .grid_4.alpha.block-ident-2
              .img-border-bg
                img.img-border.fleft(src='images/portfolio/product/video/ME90_EG1.jpg', alt='')
            .grid_5
              p.ident-bot-2
                strong
                  | 全球首款基于互联网应用的4K专业会议终端
              p
                | H.265编解码，4K超高清图像处理
                | 世界领先的回音消除、去混响处理技术
                | 创新人机界面的体验，通过语音命令和触屏操控
                | 丰富的音视频输入输出接口，方便与各种多媒体设备集成

              p
                | H.265 decoding, 4K ultra hd image processing.
                | The world leading echo cancels, goes reverberation processing technology.
                | Innovative human-machine interface experience through voice commands and touch screen manipulation.
                | Rich audio and video input and output interface, easy to integrate with various multimedia equipment.
      #tab2.tab-content
        .grid_10(data-spy='scroll', data-target='#navbar-example', data-offset='0', style='height:700px; overflow:auto; position:relative;')
          .block-ident-3
            h2 RZT管理云平台
            .grid_4.alpha.block-ident-2
              .img-border-bg
                img.img-border.fleft(src='images/portfolio/product/video/3500.png', alt='')
            .grid_5
              p.ident-bot-2
                strong
                  | 为客户提供智能化的设备管理云平台
              p
                | 设备管理云平台通过对管内所有线路设备建立基础电子信息档案（数据、图片等），对日常巡检、施工等详细的作业过程进行详细的
                | 基础登记，从而形成一个建立在单位内的私有云系统大数据库，然后再根据各种设备的技术规范和作业标准综合建立各个板块的基础
                | 技术标准。通过云计算和大数据处理技术，实现管内线路设备的实时动态管理。最终实现铁路工务设备维修的智能化和信息化。
              p
                | The equipment management cloud platform shall establish basic electronic information files (data, pictures, etc.) for all line equipment in the pipe, and carry out detailed operation procedures for routine inspection and construction.
                | Based on the basic registration, a large database of private cloud system is established in the unit, and then the foundation of each plate is established according to the technical specifications and operating standards of various equipment.
                | Technical standards.
                | Through cloud computing and big data processing technology, real-time dynamic management of line equipment is realized.
                | Finally realize the intelligent and informationization of railway construction equipment maintenance.
            .clear
            .separator
            h2.ident-bot-10 运行例子
            #carousel-3.es-carousel-wrapper
              .es-carousel
                ul#stage.portfolio-4column
                  li(data-id='id-1', data-type='business')
                    .img-border-port
                      img.img-border.max-image(src='images/portfolio/product/video/3400.jpg', alt='')
                      .cover.boxcaption.box_2
                        .project-name
                          h5 广州南高铁工务段任务管理云平台
                        .project-text
                          a.textlink(href=':3400') 进入
                          a.textlink(href='images/portfolio/product/video/3400.jpg', data-gal='prettyPhoto[pp_gal_1]', title='Project title') 查看
                  li(data-id='id-2', data-type='wordpress')
                    .img-border-port
                      img.img-border.max-image(src='images/portfolio/product/video/3100.jpg', alt='')
                      .cover.boxcaption.box_2
                        .project-name
                          h5 RZT线路设备管理云平台
                        .project-text
                          a.textlink(href=':3100') 进入
                          a.textlink(href='images/portfolio/product/video/3100.jpg', data-gal='prettyPhoto[pp_gal_1]', title='Project title') 查看

      #tab3.tab-content
        .grid_10(data-spy='scroll', data-target='#navbar-example', data-offset='0', style='height:700px; overflow:auto; position:relative;')
          .block-ident-3
            h2 MAXHUB
            .grid_4.alpha.block-ident-2
              .img-border-bg
                img.img-border.fleft(src='images/portfolio/product/video/MAXHUB.jpg', alt='')
            .grid_5
              p.ident-bot-2
                strong
                  | 高效的会议平台
              p
                | MAXHUB，带来全新的会议体验。它将白板书写、无线传屏、多屏互动、扫码分享、远程会议、应
                | 用兼容等新型会议功能整合于一体，具有高度开放性和软、硬件扩展性。MAXHUB适用于多种会议
                | 场景，助力企业提升办公智能化和信息化，是企业高效发展不可或缺的应用平台。
              p
                | MAXHUB brings a whole new conference experience.It integrates new conference functions such as
                | whiteboard writing, wireless transmission, multi-screen interaction, scanning code sharing, remote
                | meeting, and application compatibility. It is highly open and flexible, and has hardware extensibility.
                | MAXHUB is suitable for many conference scenes, and it is an indispensable application platform for
                | enterprise to promote the enterprise to improve office intelligence and informatization.
      #tab4.tab-content
        .grid_10(data-spy='scroll', data-target='#navbar-example', data-offset='0', style='height:700px; overflow:auto; position:relative;')
