extends ../index.jade

block video
  .grid_12.ident-bot-2
    h3 智能终端
    .tab-container
      #tab5.tab-content
        .grid_12
          .block-ident-3
            h2 MAXHUB
            .grid_12.alpha.block-ident-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/video/MAXHUB.jpg', data-gal='prettyPhoto[pp_gal_2]')
                img.img-border.fleft(src='images/portfolio/product/video/MAXHUB.jpg', alt='')
          .grid_12
            h1  MAXHUB高效会议平台
            p
              | 在这个多元而开放的时代，MAXHUB 打破单一功能的产品逻辑，集高质量显示、触摸书写、无线传屏等
              | 功能于一体，兼容多种远程会议软硬件及丰富的办公应用，致力提升金融机构、科技行业、地产企业、制
              | 造行业、咨询服务行业、政务组织等企业机构的会议效率。
            p
              strong
                | ●	触摸书写
            p
              | 基于对会议中书写习惯的深入研究，MAXHUB 会议平板开发了令人
              | 惊喜的书写功能。精细书写*、双笔书写*、便捷擦除等丰富的功能，
              | 让你在面对各种书写及绘制需求时更加得心应手。

            p
              strong
                | ●	无线传屏
            p
              | MAXHUB 会议平板带来了全新的展示方式和交互方式，电脑、手
              | 机、平板可轻松将画面内容无线传屏至会议平板上。只需站在大屏前
              | 就能触控翻页，还可以随时对重点内容进行批注，帮助展示变得连贯
              | 而流畅
            p
              strong
                |  ●	远程协作
            p
              | MAXHUB 会议平板，内置双 800 万像素摄像头、阵列麦克风*，同
              | 时兼容多款远程会议软硬件* ，助你跨越时空，远程会议。通过支持
              | 远程协作，为企业节省更多差旅成本，创造更高价值。
            p
              strong
                | ●	特点
            p
              | ※MAXHUB旗舰版、增强版支持双触控笔书写、精细书写。
            p
              | ※手机平板传屛支持Android5.0，iOS8.0及以上。
            p
              | ※PC端连接MAXHUB无线传屛支持Windows7、macOS10.10及以上操作系统，电脑需同时配合USB2.0及以上，Type-A接口。
            p
              | ※兼容多种第三方会议硬件，MAXHUB不直接提供视频会议服务。
            .clear
            .separator
