extends ../index.jade

block video
  .grid_12.ident-bot-2
    h3 智能终端
    ul.tab-menu
      if pageName === '/ME90'
        li.active
          a(href='/ME90') ME90
      else
        li
          a(href='/ME90') ME90
      if pageName === '/ME40'
        li.active
          a(href='/ME40') ME40
      else
        li
          a(href='/ME40') ME40
      if pageName === '/ME20'
        li.active
          a(href='/ME20') ME20
      else
        li
          a(href='/ME20') ME20
      if pageName === '/NE60'
        li.active
          a(href='/NE60') NE60
      else
        li
          a(href='/NE60') NE60
      if pageName === '/MAXHUB'
        li.active
          a(href='/MAXHUB') MAXHUB
      else
        li
          a(href='/MAXHUB') MAXHUB
      if pageName === '/PJ'
        li.active
          a(href='/PJ') 配件
      else
        li
          a(href='/PJ') 配件

    .tab-container
      #tab3.tab-content
        .grid_12
          .block-ident-3
            h2 ME20系列智能终端
            .grid_12.alpha.block-ident-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/video/ME20.jpg', data-gal='prettyPhoto[pp_gal_2]')
                img.img-border.fleft(src='images/portfolio/product/video/ME20.jpg', alt='')
          .grid_12
            h1  简介
            p
              | 小鱼易连ME20采用一体化机顶盒式设计，体型小巧，内置1080P高清摄
              | 像头、阵列麦克风。支持H.264 SVC编解码，可发送1080P高清图像，接收4K
              | 超高清图像，与高清电视机有效组合，形成最佳性价比会议室方案。
            p
              | 可扩展支持外部音频设备，支持有线网络连接、Wi-Fi无线连接。满足会议室
              | 集成和快速部署，是中小型会议室的视频会议系统建设的理想选择。
            p
              strong
                | ●	领先的音频效果
            p
              | 采用可分层语音编码，支持全频语音处理，实现高品质语音效果。拥有业界
              | 领先的语音处理算法，远距离拾音、回音消除、声音自动增益控制、背景噪音消
              | 除，突出完美的人声
            p
              strong
                | ●	超强网络适应性
            p
              | 拥有自有知识产权的纠错算法，丢包率高达30%的情况下，能保证视频流
              | 畅传输。在丢包率高达50%的情况下，依然拥有非常好的音频质量，声音清楚
              | 连贯；丢包率高达80%时，语义可理解。
            p
              strong
                | ●	高清图像处理
            p
              | 采用H.264 SVC视频编码，支持1080P高清图像发送及4K高清图像接收；
              | 通过视频预处理、后处理、动态降噪、色彩智能调整等多项视频处理技术，在相
              | 同的光照和环境下，图像质量更加自然清晰。
            p
              strong
                | ●	部署操作简单
            p
              | 安装部署简单快捷，线缆连接少，快速引导配置；极简遥控操作，支持快速
              | 呼叫，一键入会。
            p
              strong
                | ●	部署场景
            p
              | 安装部署简单快捷，线缆连接少，快速引导配置；极简遥控操作，支持快速
              | 呼叫，一键入会。
            .clear
            .separator
