extends ../index.jade

block video
  .grid_12.ident-bot-2
    h3 智能终端
    .tab-container
      #tab4.tab-content
        .grid_12
          .block-ident-3
            h2 NE60系列智能视频终端
            .grid_12.alpha.block-ident-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/video/NE60.jpg', data-gal='prettyPhoto[pp_gal_2]')
                img.img-border.fleft(src='images/portfolio/product/video/NE60.jpg', alt='')
          .grid_12
            h1  简介
            p
              | 小鱼智能视频终端可支持视频通话、视频会议及智能秘书等功能。它既可以
              | 放在领导的办公桌上，用于领导与其他人的实时视频沟通、召开视频会议；也可
              | 以放在会议室，实现多人的视频会议、分档分享、工作协同。
            h1  主要功能特性如下：
            p
              strong
                | ●	智能语音助手功能；
            p
              strong
                | ●	语音助手帮助自动播放音乐、调用天气情况、呼叫私人医生等；
            p
              strong
                | ●	多方视频通话，可召开多方视频会议；
            p
              strong
                | ●	通话中可以添加人，邀请更多与会者；
            p
              strong
                | ●	通话中共享或接收内容，与PC/笔记本连接，分享文档、照片；
            p
              strong
                | ●	支持远程观看，可远程控制云台转动；
            p
              strong
                | ●	支持企业通讯录功能，支持群组显示；
            p
              strong
                | ●	通讯录支持搜索，包含模糊搜索、拼音搜索、号码搜索、T9搜索等；
            p
              strong
                | ●	一键群组呼叫，将组内所有成员呼入到一个云会议室；
            p
              strong
                | ●	支持视频录制功能；
            p
              strong
                | ●	具有消息中心功能，接收管理员推送的各类图文消息；
            p
              strong
                | ●	人脸自动跟踪功能，通话中变换位置，镜头自动跟随；
            p
              strong
                | ●	支持呼叫密码设置，其它用户呼叫该小鱼号时，需要输入呼叫密码；
            p
              strong
                | ●	支持扩展USB耳机，可进行私密通话；
            p
              strong
                | ●	支持有线网络、5GWIFI、2.4G WIFI、4G网络接入。 

            .clear
            .separator
