extends ../index.jade

block video
  .grid_12.ident-bot-2
    h3 智能终端
    ul.tab-menu
      if pageName === '/ME90'
        li.active
          a(href='/ME90') ME90
      else
        li
          a(href='/ME90') ME90
      if pageName === '/ME40'
        li.active
          a(href='/ME40') ME40
      else
        li
          a(href='/ME40') ME40
      if pageName === '/ME20'
        li.active
          a(href='/ME20') ME20
      else
        li
          a(href='/ME20') ME20
      if pageName === '/NE60'
        li.active
          a(href='/NE60') NE60
      else
        li
          a(href='/NE60') NE60
      if pageName === '/MAXHUB'
        li.active
          a(href='/MAXHUB') MAXHUB
      else
        li
          a(href='/MAXHUB') MAXHUB
      if pageName === '/PJ'
        li.active
          a(href='/PJ') 配件
      else
        li
          a(href='/PJ') 配件

    .tab-container
      #tab5.tab-content
        .grid_12
          p
            strong
              | 终端配件
          table.table-blue
            thead
              tr
                th 智能终端套装（A）
                th 产品图片
                th 要点说明
            tbody
              tr
                td 摄像头
                td.aligncenter
                  img(src='images/portfolio/product/video/PJ/SXT.png', alt='', style='')
                td.aligncenter  - 12倍光学摄像头，适用于ME全系列（ME20除外）
              tr
                td 全向麦克
                td.aligncenter
                  img(src='images/portfolio/product/video/PJ/QXMK.png', alt='', style='')
                td.aligncenter  - 每支价格，适用于ME系列（ME20除外）
              tr
                td 无线传屏器-NP30
                td.aligncenter
                  img(src='images/portfolio/product/video/PJ/NP30.png', alt='', style='')
                td.aligncenter
                  p
                    | 1、无线传屏器 1台、支持5G Wifi
                  p
                    | 2、实现电脑与投影、电视及会议平板等屏幕互连
              tr
                td 大屏投放器
                td.aligncenter
                  img(src='images/portfolio/product/video/PJ/DPTFQ.png', alt='', style='')
                td.aligncenter
                  P
                    | 1、大屏投放器 1台、支持5G Wifi
                  p
                    | 2、实现视频和文档共享输出到电视或投影仪
              tr
                td 三脚架
                td.aligncenter
                  img(src='images/portfolio/product/video/PJ/SJJ.png', alt='', style='')
                td.aligncenter  - 固定小鱼
              tr
                td USB网络转接器
                td.aligncenter
                  img(src='images/portfolio/product/video/PJ/USB.png', alt='', style='')
                td.aligncenter  - NE2005/NV1001机型，有线网络确保质量
              tr
                td 小鱼遥控器
                td.aligncenter
                  img(src='images/portfolio/product/video/PJ/XYYK.png', alt='', style='')
                td.aligncenter  - 适用于ME全系列
              tr
                td 调音设备
                td.aligncenter
                  img(src='images/portfolio/product/video/PJ/TYSB.png', alt='', style='')
                td.aligncenter 满足多路高品质输入、输出
