extends ../index

block content_1
  section.grid_8.fleft
    .post-border-right
      article.post-holder
        .grid_8.ident-bot-2
          h2.ident-bot-10 活动促销
          #carousel-1.es-carousel-wrapper
            .es-carousel
              ul
                li
                  .grid_4.alpha.ident-bot-2
                    a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                      img.img-border(alt='', src='images/portfolio/port-1.jpg')
                  .tagline
                    h3 Aenean auctor wisi et urna
                  p
                    | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor
                    | magna aliqua.
                  a(href='#') read more —
                li
                  .grid_4.alpha.ident-bot-2
                    a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                      img.img-border(alt='', src='images/portfolio/port-2.jpg')
                  .tagline
                    h3 Aenean auctor wisi et urna
                  p
                    | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor
                    | magna aliqua.
                  a(href='#') read more —
                li
                  .grid_4.alpha.ident-bot-2
                    a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                      img.img-border(alt='', src='images/portfolio/port-3.jpg')
                  .tagline
                    h3 Aenean auctor wisi et urna
                  p
                    | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor
                    | magna aliqua.
                  a(href='#') read more —
                li
                  .grid_4.alpha.ident-bot-2
                    a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                      img.img-border(alt='', src='images/portfolio/port-4.jpg')
                  .tagline
                    h3 Aenean auctor wisi et urna
                  p
                    | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor
                    | magna aliqua.
                  a(href='#') read more —
                li
                  .grid_4.alpha.ident-bot-2
                    a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                      img.img-border(alt='', src='images/portfolio/port-5.jpg')
                  .tagline
                    h3 Aenean auctor wisi et urna
                  p
                    | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor
                    | magna aliqua.
                  a(href='#') read more —
                li
                  .grid_4.alpha.ident-bot-2
                    a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                      img.img-border(alt='', src='images/portfolio/port-6.jpg')
                  .tagline
                    h3 Aenean auctor wisi et urna
                  p
                    | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor
                    | magna aliqua.
                  a(href='#') read more —
                li
                  .grid_4.alpha.ident-bot-2
                    a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                      img.img-border(alt='', src='images/portfolio/port-7.jpg')
                  .tagline
                    h3 Aenean auctor wisi et urna
                  p
                    | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor
                    | magna aliqua.
                  a(href='#') read more —
                li
                  .grid_4.alpha.ident-bot-2
                    a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                      img.img-border(alt='', src='images/portfolio/port-8.jpg')
                  .tagline
                    h3 Aenean auctor wisi et urna
                  p
                    | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor
                    | magna aliqua.
                  a(href='#') read more —
      .clear
      .separator
      //  公司动态
      .wrapper
        // SITE CONTENTS
        .clear
        .grid_8
          h2.ident-bot-1 公司动态
        // Divider
        .grid_8
          .project-divider
        .grid_
          // start Filter categories
          ul#filter
            li.active
              a.all(href='#') 详细
          // End Filter categories
        // Divider
        .grid_8
          .project-divider
        .grid_8
          ul#stage.portfolio-3column
            li(data-id='id-1', data-type='business').grid_4
              .img-border-port
                img.img-border.max-image(src='images/activity/2017/EndSprint/17101.jpg', alt='')
                .cover.boxcaption.box_2
                  .project-name
                    h5 市场部年底冲刺宣誓大会举行
                  .project-text
                    p
                      | 金秋十月,硕果飘香! 秋天,也是荣知通人收获的季节
                      | 我们的云视讯会议系统已经在铁路系统中开花,结果。
                    a.textlink(href='blog-single.html') Detail
                    a.textlink(href='images/activity/2017/EndSprint/17101.jpg', data-gal='prettyPhoto[pp_gal_2]', title='Project title') 查看
            li(data-id='id-2', data-type='wordpress').grid_4
              .img-border-port
                img.img-border.max-image(src='images/activity/2017/NewSite/17106.png', alt='')
                .cover.boxcaption.box_2
                  .project-name
                    h5 荣知通乔迁新址
                  .project-text
                    p
                      | 随着荣知通业务发展扩大,原先的办公室已经不能满足荣知通发展的需求,
                      | 荣知通搬迁到广州市番禺区石壁街道汉溪大道西奥园越时代广场东塔327-328。
                    a.textlink(href='blog-single.html') Detail
                    a.textlink(href='images/activity/2017/NewSite/17106.png', data-gal='prettyPhoto[pp_gal_3]', title='Project title') 查看
            li(data-id='id-3', data-type='html wordpress').grid_4
              .img-border-port
                img.img-border.max-image(src='images/activity/2016/IOT·Cloud Computing/exhibition5.jpg', alt='')
                .cover.boxcaption.box_2
                  .project-name
                    h5 2016届中国，物联网·云计算技术应用博览会
                  .project-text
                    p
                      | 与时俱进，追逐潮流，荣知通本着做世界工业智能化领域的引领型企业，很荣幸参与 本届云博会
                    a.textlink(href='blog-single.html') Detail
                    a.textlink(href='images/activity/2016/IOT·Cloud Computing/exhibition5.jpg', data-gal='prettyPhoto[pp_gal_4]', title='Project title') 查看
      .clear
      .separator
      // 行内消息
      .wrapper.ident-bot-1
        .grid_8
          h3 行内消息
          ul.tab-menu
            li
              a(href='#tab1') “司法慧眼”
            li
              a(href='#tab2') “五剑齐发 势不可挡”
            li
              a(href='#tab3') 多媒体会议室投影机画面有点小的原因
          .tab-container
            #tab1.tab-content
              p
                | 近日，吉林省司法厅及下属司法系统将全面装备“司法慧眼”系统，用以解决司法系统内部沟通及基层法律援助、人民调解、社区矫正等需求。用云视频通讯技术切实解决了司法系统现实工作中人力有限、舟车劳顿等各种难题。
                | “司法慧眼”是小鱼易连视频会议专门为司法领域量身打造的云视频通讯解决方案，“司法慧眼”的启用将极大的提升吉林省司法厅的工作效率和整个吉林司法系统的信息化水平。
            #tab2.tab-content
              p
                | 小鱼易连2017新品巡展已经开启，作为业内首家一次发布五款智能硬件的云视讯厂商，这五款硬件担负小鱼渗透行业的重任。不仅看起来相当奢华，操作体验也是极好的。既然大家都想目睹这五款硬件的真容，那么，我们先看现场报道。
                | 在本次巡展上，小鱼易连携刚刚发布的四个系列智能会议终端以及一款配件产品集体亮相，全面满足不同场景下视频会议需求以及行业应用需求。小鱼易连这一次的集团作战，将彻底改变整个视频会议行业的竞争格局，让更多的用户享受到云视频会议的便利。
            #tab3.tab-content
              p
                | 故障现象： 多媒体会议室投影仪(投影机)投射画面上有许多小点，并可以每秒钟翻转65000次， 小知识： 什么是DMD，有以下几种可能：
              P
                | 1、信号源有问题，不知什么原因？ 故障分析： 投影机投影图像中有很多点，DLP背投的核心就是DMD芯片。
              p
                | 2、前镜头脏，而且每个小镜子都可以独立向正负方向翻转10度，这是硬伤，有相应的规格限制；
              p
                | 3、多媒体会议室投影机光机或者其他反射部件上沾染了灰尘所致，这种情况要分两种情况来分析：
