extends ../index

block content
  // carousel
  section#content
    .container_12
      .grid_12
        .breadcrumbs(style="height:33px")
          p
            span.bread-home
              a(href='/') Home
            a(href='/news') 新闻动态
            if pageName === '/CompanyActivity'
              a() 公司活动
            if pageName === '/TradeNews'
              a() 行业新闻

        // SITE CONTENTS
        block content_1
