extends ../index

block content
  // carousel
  section#content
    .container_12
      .grid_12
        .breadcrumbs
          p
            span.bread-home
              a(href='/') Home
            a(href='/about') 新闻动态
      // SITE CONTENTS
      block content_1
      // right CONTENTS
      aside.grid_4.fright
        // 新闻组的右侧导航
        .sidebar-blog
          // 关注我们
          .sociable.sidebar-social
            h5 关注我们
            ul.social
              li
                a(href='#')
                  img.img-1(alt='', src='images/icons/icon1.png')
                  img.img-2(alt='', title='Facebook', src='images/icons/icon1-hover.png')
              li
                a(href='#')
                  img.img-1(alt='', src='images/icons/icon2.png')
                  img.img-2(alt='', title='Flickr', src='images/icons/icon2-hover.png')
              li
                a(href='#')
                  img.img-1(alt='', src='images/icons/icon3.png')
                  img.img-2(alt='', title='Twitter', src='images/icons/icon3-hover.png')
              li
                a(href='#')
                  img.img-1(alt='', src='images/icons/icon4.png')
                  img.img-2(alt='', title='RSS', src='images/icons/icon4-hover.png')
              li
                a(href='#')
                  img.img-1(alt='', src='images/icons/icon5.png')
                  img.img-2(alt='', title='Technorati', src='images/icons/icon5-hover.png')
          // 热售
          .categories(data-spy='scroll', data-target='#navbar-example', data-offset='0', style='height:100px;overflow:auto; position: relative;')
            h5 热售
            ul
              li
                a(href='#') Gel Polish
              li
                a(href='#') Stress-Free
              li
                a(href='#') Graft-a-Lash
              li
                a(href='#') Web Design
          // 动态
          .recent-post(data-spy='scroll', data-target='#navbar-example', data-offset='0', style='height:200px;overflow:auto; position: relative;')
            h5 公司动态
            .recent-post-block
              a.lightbox-image.img-border-bg.fleft(data-gal='prettyPhoto[pp_gal_5]', href='images/activity/2017/EndSprint/17101.jpg')
                img.img-border(src='images/thumbnail/EndSprint.png', alt='', title='')
              a.link-name(href='#') 2017年市场部年底冲刺宣誓大会
              span.smalldate 10月, 2017
            .recent-post-block
              a.lightbox-image.img-border-bg.fleft(data-gal='prettyPhoto[pp_gal_2]', href='images/activity/2017/NewSite/17106.png')
                img.img-border(src='images/thumbnail/NewSite.png', alt='', title='')
              a.link-name(href='#') 随着荣知通业务发展扩大,原先的办公室已经不能满足荣知通发展的需求,荣知通搬迁到...
              span.smalldate 06月, 2017
            .recent-post-block
              a.lightbox-image.img-border-bg.fleft(data-gal='prettyPhoto[pp_gal_3]', href='images/activity/2016/IOT·Cloud Computing/exhibition5.jpg')
                img.img-border(src='images/thumbnail/exhibition5.png', alt='', title='')
              a.link-name(href='#') 2016届中国（惠州）物联网·云计算技术应用博览会参展实况
              span.smalldate 11月1日~3日, 2016

          // 公司的简单介绍
          .side-paragraph
            h5 公司简介
            div
              a.lightbox-image.img-border-bg.fleft(data-gal='prettyPhoto[pp_gal_4]', href='images/activity/company/logo_max.png')
                img.img-border(src='images/logo_mi.png', alt='', title='')
              p.ident-bot-0
                | 广州荣知通信息科技有限公司成立于2016年, 是一家致力于工业智能化领域产品研发、生产、销售和售后服务为一体的高科技企业。
              p.ident-bot-0
                | 荣知通由来自国内外知名机电设备和IT科技公司包括微软，网易的管理者和研发核心成员共同创建。成立之初便获得泊水等投资机构和个人的风险投资。核心研发团队在云计算，视频会议，视频监控以及智能设备方面具有丰富的开发经验。
          // 业内新闻
          .our-sponsors(data-spy='scroll', data-target='#navbar-example', data-offset='0', style='height:200px;overflow:auto; position: relative;')
            h5 行内新闻
            #accordion
              a(href='/TradeNews') “司法慧眼”
              a(href='/TradeNews') “五剑齐发 势不可挡”
              a(href='/TradeNews') “五剑齐发”
              a(href='/TradeNews') “势不可挡”
      .clear
