extends ../index
// about
block content
  section#content
    // 上部导航条
    .container_12
      .grid_12
        .breadcrumbs(style="height:33px")
          p
            span.bread-home
              a(href='/') Home
            a(href='/serve') 服务中心
      // 内容
      .grid_2.fleft
        h2 联系我们
        p.ident-bot-0
          strong 杨先生
        ul.list-rate.ident-bot-2
          li
            a(href='#') 18824717688
            span 手机
          li
            a(href='#') 020-31147920
            span 电话
          li
            a rzt@rztit.com
            span 邮箱
          li
            a(href='www.rztit.com') www.rztit.com
            span 网址
        p.ident-bot-0
          strong 视频体验热线
        ul.list-rate.ident-bot-2
          li
            a(href='#') 818196
            span 小鱼号（会议室）
        .clear
        .separator
        h2 视频会议
        ul.list-rate.ident-bot-2
          li
            a(href='/ME90') 智能会议终端
            span >
          li
            a(href='/MAXHUB') 智能显示终端
            span >
          li
            a(href='/PJ') 智能终端配置
            span >
        .clear
        .separator
        h2 专用智能硬件
        ul.list-rate.ident-bot-2
          li
            a(href='/RZTSD001') 隧道检查仪
            span >
          li
            a(href='/RZTXJ002') GPS摄影手电
            span >
          li
            a(href='/RZTJK001') 音视频记录仪
            span >
          li
            a(href='/RZTM91H') M91H布控球
            span >
          li
            a(href='/RZTT006') 应急指挥箱
            span >
        .clear
        .separator
        h2 专用工具
        ul.list-rate.ident-bot-2
          li
            a(href='/RZTZA001') 太阳能应急灯
            span >
          li
            a(href='/RZTYJ') 应急夹板双肩包
            span >
        .clear
        .separator
      block server
      block about
      block friend
