extends index.jade

block server
  .grid_10
    h3 服务中心
    .tab-container
      #tab1.tab-content
        .grid_12
          .block-ident-3
            h2 会议室集成方案定制
            .grid_12
              h1 大型会议配置（ME90）
              .grid_12.alpha.block-ident-2
                a.lightbox-image.img-border-bg(href='images/serve/big(ME90).jpg', data-gal='prettyPhoto[pp_gal_2]')
                img.img-border.fleft(src='images/serve/big(ME90).jpg', alt='')
              p
                strong
                  | 大会议室ME90设备连接示意图 ↑

              table.table-blue
                thead
                  tr
                    th 设备
                    th 数量
                    th(colspan='3') 功能
                tbody
                  tr
                    td(colspan='5') 小鱼硬件设备

                  tr
                    td ME90视频终端
                    td.aligncenter 1台

                    td.aligncenter(colspan='3') 视频硬件编解码器；视频、音频输入输出专业接口

                  tr
                    td NE60视频终端

                    td.aligncenter 1台

                    td.aligncenter(colspan='3') 大型会议触屏中控；会议热备份终端

                  tr
                    td 高清摄像机
                    td.aligncenter  2台（可选配多台）

                    td.aligncenter(colspan='3') PTZ云台、12倍光学变焦

                  tr
                    td(colspan='5') 其它外围设备

                  tr
                    td 大屏幕
                    td.aligncenter  1套

                    td.aligncenter(colspan='3') 各会场图像显示

                  tr
                    td 视频矩阵
                    td.aligncenter  1套

                    td.aligncenter(colspan='3') 会场视频源与屏幕的匹配切换

                  tr.tr-none-3
                    td 音频系统
                    td.aligncenter  1套

                    td.aligncenter(colspan='3') 麦克风、音箱、调音台、功放、音频矩阵。。。

            .grid_12
              h1 中型会议配置（ME90）
              .grid_12.alpha.block-ident-2
                a.lightbox-image.img-border-bg(href='images/serve/mid(ME90).jpg', data-gal='prettyPhoto[pp_gal_2]')
                img.img-border.fleft(src='images/serve/mid(ME90).jpg', alt='')
              p
                strong
                  | 中会议室ME90设备连接示意图 ↑

              table.table-blue
                thead
                  tr
                    th 设备
                    th 数量
                    th(colspan='3') 功能
                tbody
                  tr
                    td(colspan='5') 小鱼硬件设备

                  tr
                    td ME90视频终端
                    td.aligncenter 1台

                    td.aligncenter(colspan='3') 视频硬件编解码器；视频、音频输入输出专业接口

                  tr
                    td NE60视频终端

                    td.aligncenter 1台

                    td.aligncenter(colspan='3') 大型会议触屏中控；会议热备份终端

                  tr
                    td 高清摄像机
                    td.aligncenter  2台（可选配多台）

                    td.aligncenter(colspan='3') PTZ云台、12倍光学变焦

                  tr
                    td(colspan='5') 其它外围设备

                  tr
                    td 电视机
                    td.aligncenter  2套

                    td.aligncenter(colspan='3') 双屏显示各会场图像

                  tr
                    td 视频矩阵
                    td.aligncenter  1套

                    td.aligncenter(colspan='3') 会场视频源与屏幕的匹配切换

                  tr.tr-none-3
                    td 音频系统
                    td.aligncenter  1套

                    td.aligncenter(colspan='3') 麦克风、音箱、调音台、功放、音频矩阵。。。

            .grid_12
              h1 中型会场配置（ME40）
              .grid_12.alpha.block-ident-2
                a.lightbox-image.img-border-bg(href='images/serve/mid(ME40).jpg', data-gal='prettyPhoto[pp_gal_2]')
                img.img-border.fleft(src='images/serve/mid(ME40).jpg', alt='')
              p
                strong
                  | 中型会议室ME40设备连接示意图 ↑

              table.table-blue
                thead
                  tr
                    th 设备
                    th 数量
                    th(colspan='3') 功能
                tbody
                  tr
                    td(colspan='5') 小鱼硬件设备

                  tr
                    td ME40视频终端
                    td.aligncenter 1台

                    td.aligncenter(colspan='3') 视频硬件编解码器；视频、音频输入输出专业接口

                  tr
                    td NE60视频终端

                    td.aligncenter 1台

                    td.aligncenter(colspan='3') 大型会议触屏中控；会议热备份终端

                  tr
                    td 高清摄像机
                    td.aligncenter  1台

                    td.aligncenter(colspan='3') PTZ云台、12倍光学变焦

                  tr
                    td(colspan='5') 其它外围设备

                  tr
                    td 电视机
                    td.aligncenter  1套

                    td.aligncenter(colspan='3') 双屏显示各会场图像

            .grid_12
              h1 小型会场配置（ME20）
              .grid_12.alpha.block-ident-2
                a.lightbox-image.img-border-bg(href='images/serve/sma(ME20).jpg', data-gal='prettyPhoto[pp_gal_2]')
                img.img-border.fleft(src='images/serve/sma(ME20).jpg', alt='')
              p
                strong
                  | 小型会议室ME20设备连接示意图 ↑

              table.table-blue
                thead
                  tr
                    th 设备
                    th 数量
                    th(colspan='3') 功能
                tbody
                  tr
                    td(colspan='5') 小鱼硬件设备

                  tr
                    td ME20视频终端
                    td.aligncenter 1台

                    td.aligncenter(colspan='3') 自带麦克风、摄像头，可接电视机

                  tr
                    td(colspan='5') 其它外围设备

                  tr
                    td 电视机
                    td.aligncenter  1套

                    td.aligncenter(colspan='3') 双屏显示各会场图像

            .grid_12
              h1 小型会场配置（NE60）
              .grid_12.alpha.block-ident-2
                a.lightbox-image.img-border-bg(href='images/serve/sma(NE60).jpg', data-gal='prettyPhoto[pp_gal_2]')
                img.img-border.fleft(src='images/serve/sma(NE60).jpg', alt='')
              p
                strong
                  | 小型会议室NE60设备连接示意图 ↑

              table.table-blue
                thead
                  tr
                    th 设备
                    th 数量
                    th(colspan='3') 功能
                tbody
                  tr
                    td(colspan='5') 小鱼硬件设备

                  tr
                    td NE60视频终端
                    td.aligncenter 1台

                    td.aligncenter(colspan='3') 自带麦克风、摄像头、触摸显示屏、音箱，可接电视机

                  tr
                    td 大屏投放器NP2001
                    td.aligncenter 1台

                    td.aligncenter(colspan='3') HDMI连接电视机，与小鱼配对使用，投屏电视机

                  tr
                    td(colspan='5') 其它外围设备

                  tr
                    td 电视机
                    td.aligncenter  1套

                    td.aligncenter(colspan='3') 显示各会场图像

            .grid_12
              h1 桌面会议配置（NE60）
              .grid_12.alpha.block-ident-2
                a.lightbox-image.img-border-bg(href='images/serve/des(NE60).jpg', data-gal='prettyPhoto[pp_gal_2]')
                img.img-border.fleft(src='images/serve/des(NE60).jpg', alt='')
              p
                strong
                  | 办公桌面设备连接示意图（小鱼终端方案） ↑

              table.table-blue
                thead
                  tr
                    th 设备
                    th 数量
                    th(colspan='3') 功能
                tbody
                  tr
                    td(colspan='5') 小鱼硬件设备

                  tr
                    td NE60视频终端
                    td.aligncenter 1台

                    td.aligncenter(colspan='3') 自带麦克风、摄像头、触摸显示屏、音箱，可接电视机


                  tr
                    td(colspan='5') 其它外围设备

                  tr
                    td USB耳麦
                    td.aligncenter 1个

                    td.aligncenter(colspan='3') 私密通话

                  tr
                    td 路由器（5G wifi）或交换机
                    td.aligncenter  1台

                    td.aligncenter(colspan='3') 网络接入，5Gwifi;共享或有线连接小鱼终端

            .grid_12
              h1 移动会议配置
              p
                | 个人的计算设备安装小鱼易连客户端，可实现视频沟通及会议的相关业务。
                | 通过小鱼易连官网（www.xylink.com）或网上商店下载各平台的应用客户端，
                | 安装完成后，通过手机号码注册账号，该账号支持夸平台客户端同时使用。
                | 登录后即可应用相应的功能。
              .grid_12.alpha.block-ident-2
                a.lightbox-image.img-border-bg(href='images/serve/mob.jpg', data-gal='prettyPhoto[pp_gal_2]')
                img.img-border.fleft(src='images/serve/mob.jpg', alt='')

              table.table-blue
                thead
                  tr
                    th 设备
                    th 数量
                    th(colspan='3') 功能
                tbody
                  tr
                    td(colspan='5') PC终端

                  tr
                    td 小鱼易连APP
                    td.aligncenter 1套

                    td.aligncenter(colspan='3') 参加视频会议、屏幕分享、直播管理……

                  tr
                    td PC主机
                    td.aligncenter 1台

                    td.aligncenter(colspan='3') Windows操作系统，OSX操作系统，双核CPU

                  tr
                    td(colspan='5') 手机端

                  tr
                    td 小鱼易连APP
                    td.aligncenter 1套

                    td.aligncenter(colspan='3') 参加视频会议、屏幕分享、直播管理……

                  tr
                    td 手机/PAD
                    td.aligncenter 1台

                    td.aligncenter(colspan='3') IOS、Android均可

                  tr
                    td(colspan='5') 其它外围设备

                  tr
                    td USB耳麦
                    td.aligncenter 1个

                    td.aligncenter(colspan='3') 配合PC端使用进行私密通话

                  tr
                    td 路由器（5G wifi）或交换机
                    td.aligncenter  1台

                    td.aligncenter(colspan='3') 网络接入，5Gwifi;共享或有线连接小鱼终端

