extends index.jade

block server
  .grid_10
    h3 服务中心
    ul.tab-menu
      li
        a(href='/server_1') 会议室集成方案定制
      li
        a(href='/server_2') 远程职教系统方案定制
      li
        a(href='/server_3') 远程应急指挥系统方案定制
      li
        a(href='/server_4') 综合音视频服务
      li
        a(href='/server_5') 云服务定制
    .tab-container
      #tab1.tab-content
        .grid_12
          .block-ident-3
            h2 远程应急指挥系统方案定制
          .grid_12
            h1 RZTYJ006  移动应急指挥系统
            .grid_12
              a.lightbox-image.img-border-bg(href='images/serve/RZTYJ006(1).jpg', data-gal='prettyPhoto[pp_gal_2]')
              img.img-border.fleft(src='images/serve/RZTYJ006(1).jpg', alt='')
            .grid_12
              p
                strong
                  | 用途
              p
                | 本系统适用于铁路各专业各种应急指挥场所进行实时多方远程
                | 在线指挥、远程监控、远程技术交流、过程录制等，重点解决铁
                | 路行业各个专业不同工种应急指挥和远程指导的技术盲区问题
          .grid_12
            h1 荣知通一站式应急指挥解决方案
            .grid_12.alpha.block-ident-2
              .grid_12
                a.lightbox-image.img-border-bg(href='images/serve/RZTYJ006(2).jpg', data-gal='prettyPhoto[pp_gal_2]')
                img.img-border.fleft(src='images/serve/RZTYJ006(2).jpg', alt='')
              .grid_12
                p
                  strong
                    | 多方实时在线
                p
                  strong
                    | 多方实时在线
                p
                  strong
                    | 全球顶尖音视频算法
                p
                  strong
                    | 专业智能硬件设备
                p
                  strong
                    | 贴身服务（售前、售中、售后）
              .grid_12
                a.lightbox-image.img-border-bg(href='images/serve/RZTYJ006(3).jpg', data-gal='prettyPhoto[pp_gal_2]')
                img.img-border.fleft(src='images/serve/RZTYJ006(3).jpg', alt='')
