extends index.jade

block server
  .grid_10
    h3 服务中心
    .tab-container
      #tab1.tab-content
        .grid_12
          .block-ident-3
            h2 远程职教系统方案定制
          .grid_12
            h1 铁路职教
            p
              strong
                | 挑战
            p
              | 铁路生产力布局优化和高速铁路的相继建设与运营，
              | 使运输 生产岗位的技术含量 和技术复杂程度大幅度提高，
              | 职工队伍必须 及时有效地完成知识、技能的更新，才能满足铁路安
              | 全运输生产 的需要。
            p
              strong
                | 需求
            p
              | 丶 整体一线员工素质急需提升
            p
              | 丶 学科教学培训
            p
              | 丶 名师工程、骨干培训
            p
              | 丶 学区、学校教研工作指导培训
          .grid_12
            h1 传统教学模型
            .grid_12.alpha.block-ident-2
              .grid_7
                a.lightbox-image.img-border-bg(href='images/serve/CTJX.jpg', data-gal='prettyPhoto[pp_gal_2]')
                img.img-border.fleft(src='images/serve/CTJX.jpg', alt='')
              .grid_5
                p
                  strong
                    | 名师资源有限、场地有限
                p
                  strong
                    | 线路长、职工分散、组织难度大
                p
                  strong
                    | 课程难复制、室内外难以互动
                p
                  strong
                    | 成本高

          .grid_12
            h1 双师课堂
            .grid_12.alpha.block-ident-2
              .grid_7
                a.lightbox-image.img-border-bg(href='images/serve/SSJX.jpg', data-gal='prettyPhoto[pp_gal_2]')
                img.img-border.fleft(src='images/serve/SSJX.jpg', alt='')
              .grid_5
                p
                  strong
                    | 借助互联网技术
                p
                  strong
                    | 让室内外的主讲教师通过视频交互、直播的方式给远程班级的学生上课，室内学员直观的看到现场，提高培训效率
                p
                  strong
                    | 同时远程班级配备了一名室外/室内助教对学员提供本地指导、监督以及个性化服务


          .grid_12
            h1 优点
            h2  整体性、立体化平台
            .grid_12.alpha.block-ident-2
              a.lightbox-image.img-border-bg(href='images/serve/YPT.jpg', data-gal='prettyPhoto[pp_gal_2]')
              img.img-border.fleft(src='images/serve/YPT.jpg', alt='')
          .grid_12
            h2 部署方式
            .grid_12.alpha.block-ident-2
              a.lightbox-image.img-border-bg(href='images/serve/BS.jpg', data-gal='prettyPhoto[pp_gal_2]')
              img.img-border.fleft(src='images/serve/BS.jpg', alt='')
          .grid_12
            h2  (一)授课端教室示意图
            .grid_12.alpha.block-ident-2
              a.lightbox-image.img-border-bg(href='images/serve/SKT.jpg', data-gal='prettyPhoto[pp_gal_2]')
              img.img-border.fleft(src='images/serve/SKT.jpg', alt='')
          .grid_12
            h2  (二)培训基地听课端教室示意图
            .grid_12.alpha.block-ident-2
              a.lightbox-image.img-border-bg(href='images/serve/TKT.jpg', data-gal='prettyPhoto[pp_gal_2]')
              img.img-border.fleft(src='images/serve/TKT.jpg', alt='')
          .grid_12
            h2  (三)移动/实训场及车间工区
            .grid_12.alpha.block-ident-2
              a.lightbox-image.img-border-bg(href='images/serve/YDTKT.jpg', data-gal='prettyPhoto[pp_gal_2]')
              img.img-border.fleft(src='images/serve/YDTKT.jpg', alt='')
            .grid_12.alpha.block-ident-2
              a.lightbox-image.img-border-bg(href='images/serve/YD.jpg', data-gal='prettyPhoto[pp_gal_2]')
              img.img-border.fleft(src='images/serve/YD.jpg', alt='')
