extends ../index.jade

block intelHardware
  .grid_10.ident-bot-2
    h3 云视讯系列
    ul.tab-menu
      li
        a(href='#tab1') 智能会议终端
      li
        a(href='#tab2') 智能会议云平台
      li
        a(href='#tab3') 智能显示设备
      li
        a(href='#tab4') 调度设备
