extends ../index
// about
block content
  section#content
    // 上部导航条
    .container_12
      .grid_12
        .breadcrumbs
          p
            span.bread-home
              a(href='/') Home
            a(href='/about') 产品中心
      // 内容
      .grid_2
        h2 联系我们
        p.ident-bot-0
          strong 杨总
        ul.list-rate.ident-bot-2
          li
            a(href='#') 18824717688
            span 手机
          li
            a(href='#') 020-31147920
            span 电话
          li
            a rzt@rztit.com
            span 邮箱
          li
            a(href='www.rztit.com') www.rztit.com
            span 网址
        p.ident-bot-0
          strong 视频体验热线
        ul.list-rate.ident-bot-2
          li
            a 60786856
            span 小鱼号（会议室）
        .clear
        .separator
        h2 视频会议
        p.ident-bot-0
          strong
        ul.list-rate.ident-bot-2
          li
            a(href='#') 智能会议终端
            span >
          li
            a(href='#') 智能会议云平台
            span >
          li
            a(href='#') 智能显示装备
            span >
          li
            a(href='#') 调度设备
            span >
        .clear
        .separator
        h2 专用智能硬件
        p.ident-bot-0
          strong
        ul.list-rate.ident-bot-2
          li
            a() 隧道检查仪
            span >
        .clear
        .separator
        h2 专用工具
        p.ident-bot-0
          strong
        ul.list-rate.ident-bot-2
          li
            a() 轨道平板车
            span >
          li
            a 应急夹板双肩包
            span >
        .clear
        .separator
      block main3
      block video
      block intelHardware
