extends index.jade
//link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.css')
//script(src='components/bootstrap/dist/js/bootstrap.js')
//script(src='components/jquery/dist/jquery.js')

block main3
  // 视频会议
  .grid_10.ident-bot-2
    h2.ident-bot-10 视频会议
    #carousel-1.es-carousel-wrapper
      .es-carousel
        ul
          li
            .grid_2.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/port-1.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/port-1.jpg')
            .tagline
              h3 智能会议终端
            p
              | a
            a(href='#') read more —
          li
            .grid_2.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/port-2.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/port-2.jpg')
            .tagline
              h3 智能会议云平台
            p
              | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
            a(href='#') read more —
          li
            .grid_2.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/port-3.jpg')
            .tagline
              h3 智能显示设备
            p
              | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
            a(href='#') read more —
          li
            .grid_2.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/port-4.jpg')
            .tagline
              h3 调度设备
            p
              | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
            a(href='#') read more —
    .clear
    .separator
  // 智能硬件
  .grid_10.ident-bot-2
    h2.ident-bot-10 智能硬件
    #carousel-2.es-carousel-wrapper
      .es-carousel
        ul
          li
            .grid_2.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/port-1.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/port-1.jpg')
            .tagline
              h3 隧道检查仪
            p
              | a
            a(href='#') read more —
          li
            .grid_2.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/port-1.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/port-1.jpg')
            .tagline
              h3 音视频记录仪
            p
              | a
            a(href='#') read more —
    .clear
    .separator
  // 专用工具
  .grid_10.ident-bot-2
    h2.ident-bot-10 专业工具
    #carousel-3.es-carousel-wrapper
      .es-carousel
        ul#stage.portfolio-4column
          li(data-id='id-1', data-type='business')
            .img-border-port
              img.img-border.max-image(src='images/activity/2017/EndSprint/17101.jpg', alt='')
              .cover.boxcaption.box_2
                .project-name
                  h5 轨道平板车
                .project-text
                  p
                    | 我们的云视讯会议系统已经
                  a.textlink(href='blog-single.html') Detail
                  a.textlink(href='images/activity/2017/EndSprint/17101.jpg', data-gal='prettyPhoto[pp_gal_2]', title='Project title') 查看
          li(data-id='id-2', data-type='wordpress')
            .img-border-port
              img.img-border.max-image(src='images/activity/2017/NewSite/17106.png', alt='')
              .cover.boxcaption.box_2
                .project-name
                  h5 应急夹板双肩包
                .project-text
                  p
                    | 随着荣知通业务发展扩大
                  a.textlink(href='blog-single.html') Detail
                  a.textlink(href='images/activity/2017/NewSite/17106.png', data-gal='prettyPhoto[pp_gal_3]', title='Project title') 查看
