extends index.jade
//link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.css')
//script(src='components/bootstrap/dist/js/bootstrap.js')
//script(src='components/jquery/dist/jquery.js')

block main3
  // 视频会议
  .grid_12.ident-bot-2
    h2.ident-bot-10 智能终端
    #carousel.es-carousel-wrapper
      .es-carousel
        ul.portfolio-3column
          li
            .grid_12.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/index/ME90_EG1.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/product/index/ME90_EG1.jpg')
            .tagline
              h3 ME90
                a.button-white.ident-bot-2.fright() 详细
          li
            .grid_12.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/index/ME40.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/product/index/ME40.jpg')
            .tagline
              h3 ME40
                a.button-white.ident-bot-2.fright() 详细
          li
            .grid_12.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/index/ME20.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/product/index/ME20.jpg')
            .tagline
              h3 ME20
                a.button-white.ident-bot-2.fright() 详细
          li
            .grid_12.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/index/NE60.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/product/index/NE60.jpg')
            .tagline
              h3 NE60
                a.button-white.ident-bot-2.fright() 详细
          li
            .grid_12.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/index/pei.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/product/index/pei.jpg')
            .tagline
              h3 配件
                a.button-white.ident-bot-2.fright() 详细
          li
            .grid_12.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/index/MAXHUB.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/product/index/MAXHUB.jpg')
            .tagline
              h3 MAXHUB
                a.button-white.ident-bot-2.fright() 详细
    .clear
    .separator
  // 智能硬件
  .grid_12.ident-bot-2
    h2.ident-bot-10 智能硬件
    #carousel-2.es-carousel-wrapper
      .es-carousel
        ul.portfolio-3column
          li
            .grid_12.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/index/SD001.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/product/index/SD001.jpg')
            .tagline
              h3 隧道检查仪
                a.button-white.ident-bot-2.fright() 详细
          li
            .grid_12.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/index/XJ002.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/product/index/XJ002.jpg')
            .tagline
              h3 GPS摄影手电
                a.button-white.ident-bot-2.fright() 详细
          li
            .grid_12.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/index/xssb.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/product/index/xssb.jpg')
            .tagline
              h3 音视频记录仪
                a.button-white.ident-bot-2.fright() 详细
          li
            .grid_12.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/index/M91H.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/product/index/M91H.jpg')
            .tagline
              h3 M91H布控球
                a.button-white.ident-bot-2.fright() 详细
          li
            .grid_12.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/index/RZT006.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/product/index/RZT006.jpg')
            .tagline
              h3 应急指挥箱
                a.button-white.ident-bot-2.fright() 详细
    .clear
    .separator
  // 专用工具
  .grid_12.ident-bot-2
    h2.ident-bot-10 专业工具
    #carousel-3.es-carousel-wrapper
      .es-carousel
        ul.portfolio-3column
          li
            .grid_12.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/index/Sun.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/product/index/Sun.jpg')
            .tagline
              h3 太阳能铁路障碍灯
                a.button-white.ident-bot-2.fright() 详细
          li
            .grid_12.alpha.ident-bot-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/index/Bag.jpg', data-gal='prettyPhoto[pp_gal_1]')
                img.img-border(alt='', src='images/portfolio/product/index/Bag.jpg')
            .tagline
              h3 应急夹板背包
                a.button-white.ident-bot-2.fright() 详细
