extends index
// 继承news中的content_1

block content_1
  section.grid_12
    .post-border-right
      h2.entry-title
        a 远程多方视频会议
      .grid_4.alpha.block-ident-2
        .img-border-bg
          img.img-border.fleft(src='images/scenario/1.png', alt='')
      p
        strong
          | 可以实现实时的大规模多媒体会议功能，多地之间进行的音频、视频、数据共享等各方面的交流协作，实现各种行政会议，部门例会，月度总结会议等应用，实现常态化的视频沟通。
      p
        | 	在会议室、办公室通过小鱼易连系列终端参加会议；
      p
        | 	PC客户端、平板/手机APP都可参与会议；
      p
        | 	出差的领导和员工可以利用自己的手机或平板即可实现移动端入会。
      p
        | 系统支持的多场景结构使得在一个系统中，既可以进行会议室级会议，也可以同时进行桌面级会议，以及个人移动视频会议。在同一个会议中，上述三种用户可以并存互通。让会议走出会议室，实现多场所，多种终端互通的应用场景，真正做到随时随地参会。
      .clear
      .separator
    .post-border-right
      h2.entry-title
        a 异地协同办公
      .grid_4.alpha.block-ident-2
        .img-border-bg
          img.img-border.fleft(src='images/scenario/2.png', alt='')
      p
        | 多方视频会议中除视频互动外，还可以进行屏幕共享，包括Word、PPT、Excel等各种文档和视频文件的共享和同步浏览，支持手机中图片的分享等。支持电子白板的功能，电子白板可以多方协同操作，实现异地的多方协同工作，协同设计等应用。
      .clear
      .separator
    .post-border-right
      h2.entry-title
        a 远程教学和培训
      .grid_4.alpha.block-ident-2
        .img-border-bg
          img.img-border.fleft(src='images/scenario/3.png', alt='')
      p
        | 远程教学或培训时，可以实现主讲老师及参加人员之间的远程互动提问，学员既可以看到讲师的高清图像，又可以看到讲师的课件。这样在远程便可进行图文并茂、绘声绘色的培训讲解，提高沟通效率。
      p
        | 通过小鱼直播能力，可快捷建立教学及直播活动，更大规模的人可以学习到课程。支持课程前分享、宣传预热，教学培训开始后可进行线上直播主持及管理，直播过程中支持课件的分享，观看端可以收看到双流视频。教学培训后，可导出参加人员，查看听课数据统计及趋势图。直播及录制的链接可对接内嵌至教育平台中，统一入口。
      p
        | 支持培训及直播过程的录制，录制的内容包括讲师视频和课件的内容，可供用户下载。
      .clear
      .separator
    .post-border-right
      h2.entry-title
        a 远程招聘
      .grid_4.alpha.block-ident-2
        .img-border-bg
          img.img-border.fleft(src='images/scenario/4.png', alt='')
      p
        | 在传统的招聘方式下，人力资源主管必须与应聘的人员进行面对面的沟通和了解。而多数情况下客户的员工人数众多，人力资源主管不可能做到与所有的应聘者进行面谈；或者分支机构分布在全球各地，经常需要总部相关部门的领导参与面试。通过小鱼易连提供的音视频沟通能力，使人力资源主管、面试官和应聘者可以远程进行面对面的交流，快捷的进行面试沟通。
      p
        | 作为远程招聘应用，突破了传统的招聘工作在时间、地域上的限制，也大大节省了面试者与被面试者的时间，提高工作效率。

      .clear
      .separator
    .post-border-right
      h2.entry-title
        a 视频呼叫中心
      .grid_4.alpha.block-ident-2
        .img-border-bg
          img.img-border.fleft(src='images/scenario/5.png', alt='')
      p
        | 小鱼易连云平台提供视频呼叫中心的应用服务，可以使传统语音客服升级为视频客服。可以为企业定制统一的视频客服号码，关联多个视频客服座席（小鱼终端），客户呼入后，自动分配空闲座席。
      p
        | 通过小鱼建立企业视频客服中心，为企业VIP用户提供远程面对面服务，有效提升企业服务品质。
      .clear
      .separator
    .post-border-right
      h2.entry-title
        a 应急指挥与监控融合
      .grid_4.alpha.block-ident-2
        .img-border-bg
          img.img-border.fleft(src='images/scenario/6.png', alt='')
      p
        | 小鱼易连云平台提供基于移动互联网的完美解决方案，系统能够作为突发事件的应急指挥和调度平台。
      p
        | 发生突发事件时，现场人员把一线的情况实时拍摄反馈至指挥中心，向上级汇报；多级指挥协调人员可随时多方协同，使指挥决策者使可以掌控全局，对事件情况进行深入了解和判断，为其决策指挥提供更准确的依据；指挥中心能够远程面对面向事件现场和相关部门人员传达指挥和调度命令，加强对突发事件的快速有效反应。
      p
        | 如果突发事件发生在没有网络的地方，通过移动手机和模拟电话接入，也可以实时将现场情况上报至指挥中心，为指挥中心的指挥决策提供依据。
      p
        | 另外，小鱼易连云平台支持与监控系统的对接，可在指挥会商过程中调取一线的监控视频，更加全面、准确的了解一线情况，增加决策判断的依据。
      .clear
      .separator
    .post-border-right
      h2.entry-title
        a 移动会议与沟通
      .grid_4.alpha.block-ident-2
        .img-border-bg
          img.img-border.fleft(src='images/scenario/7.png', alt='')
      p
        | 作为互联网和现代化的时代，手机已经成为了人手一台甚至多台的设备。会议对移动端的支持必不可少。在3G/4G普及的地区，移动视频沟通已经成为主流。移动端通常包含 PC（Windows、MAC）、IOS 设备（包含 IPhone、IPAD）、Android 设备（手机、PAD）。
      p
        | 通过小鱼云服务，移动用户可随时随地参与视频协作，如：
      p
        | 	支持用小鱼 APP互动会议、远程培训；
      p
        | 	支持用微信和手机浏览器，实时收看小鱼培训内容的直播；
      .clear
      .separator
    .post-border-right
      h2.entry-title
        a 电话会议
      .grid_4.alpha.block-ident-2
        .img-border-bg
          img.img-border.fleft(src='images/scenario/8.png', alt='')
      p
        | 对移动商务人士来说，经常会出现在机场、高铁、酒店、出租车等场所。小鱼易连支持即时在没有网络的情况下，也可以呼叫电话号码，通过手机语音接入，参加会议。
      p
        | 	全球化部署，全球电话网络落地服务
      p
        | 	电信运营商网络，国内400号码统一接入
      p
        | 	无缝对接视频会议，会议中可邀请电话联系人加入会议
      p
        | 	电话可呼叫小鱼终端或云会议室入会
      p
        | 	会控界面可管控主持会议
      p
        | 	企业通讯录整合，一键呼叫联系人
      p
        | 	专线接入，最低语音延时
      p
        | 	独有的噪声抑制算法，显著提高声音质量
      .clear
      .separator
