extends ../index

block content
  // carousel
  section#content
    .container_12
      .grid_12
        .breadcrumbs(style="height:33px")
          p
            span.bread-home
              a(href='/') Home
            a(href='/news') 应用场景
      // SITE CONTENTS
      block content_1
