extends ../index
// about
block content
  section#content
    // 上部导航条
    .container_12
      .grid_12
        .breadcrumbs(style="height:33px")
          p
            span.bread-home
              a(href='/') Home
            a(href='/about') 关于我们
      // 内容
      .grid_2
        h2 联系我们
        p.ident-bot-0
          strong 杨先生
        ul.list-rate.ident-bot-2
          li
            a(href='#') 188 2471 7688
            span 手机
          li
            a(href='#') 020-311 479 20
            span 电话
          li
            a(href='mailto:yangjie@rztit.com') yangjie@rztit.com
            span E-mail
        .clear
        .separator
        h2 合伙伙伴
        p.ident-bot-0
          strong
        ul.list-rate.ident-bot-2
          li
            a(href='http://www.xylink.com/' target='_blank') 小鱼易连
            span の
          li
            a(href='http://www.xylink.com/' target='_blank') 小鱼办公
            span の
          li
            a(href='https://www.maxhub.vip/' target='_blank') MAXHUB
            span の
          li
            a(href='#') 120 minutes
            span $130
        .clear
        .separator
        h2 欢迎你的到来 
        p.ident-bot-0
          strong 番禺部
        ul.list-rate.ident-bot-2
          li
            a() 广东省广州市番禺区石壁街汉溪大道西283号奥园越时代广场东塔328室
            span 地址

      block main5
      block about
      block friend
      block JoinUs
