extends ../index
// about
block content
  section#content
    // 上部导航条
    .container_12
      .grid_12
        .breadcrumbs
          p
            span.bread-home
              a(href='/') Home
            a(href='/about') 关于我们
      // 内容
      .grid_2
        h2 联系我们
        p.ident-bot-0
          strong 杨总
        ul.list-rate.ident-bot-2
          li
            a(href='#') 18824717688
            span 电话
          li
            a(href='#') 45 minutes
            span $20
        .clear
        .separator
        h2 合伙伙伴
        p.ident-bot-0
          strong
        ul.list-rate.ident-bot-2
          li
            a(href='#') 小鱼易连
            span の
          li
            a(href='#') 90 minutes
            span $100
          li
            a(href='#') 100 minutes
            span $105
          li
            a(href='#') 120 minutes
            span $130
        .clear
        .separator
        h2 欢迎你的到来
        p.ident-bot-0
          strong 番禺部
        ul.list-rate.ident-bot-2
          li
            a() 广东省广州市番禺区石壁街汉溪大道西283号奥园越时代广场东塔328室
            span 地址


      block about
      block friend
      .grid_10.ident-bot-2
        .block-ident-3
          h2 公司简介
          .grid_4.alpha.block-ident-2
            .img-border-bg
              img.img-border.fleft(src='images/pic1.jpg', alt='')
          p.ident-bot-2
            strong
              | 广州荣知通信息科技有限公司成立于2016年, 是一家致力于工业智能化领域产品研发、生产、销售和售后服务为一体的高科技企业。
          p
            | 公司集中了一批国内外在硬件、软件、管理、营销等领域的一批专家型青年才俊,积极响应国家“大众创业,万众创新”的号召,致力于为
            | 中国工业企业转型升级提供个性化的智能应用解决方案。目前公司已拥有自己10余项核心专利技术, 并组建了专业化的硬件、软件研发
            | 团队, 与铁路、电网等大型企业进行针对性研发合作,持续提升公司的创新能力和水平。
          a.button(href='#') Continue Reading
        .clear
        .separator
      .grid_10.ident-bot-2
        h2.ident-bot-10 合作伙伴
        #carousel-1.es-carousel-wrapper
          .es-carousel
            ul
              li
                .grid_2.alpha.ident-bot-2
                  a.lightbox-image.img-border-bg(href='images/portfolio/port-1.jpg', data-gal='prettyPhoto[pp_gal_1]')
                    img.img-border(alt='', src='images/portfolio/port-1.jpg')
                .tagline
                  h3 小鱼易连
                p
                  | a
                a(href='#') read more —
              li
                .grid_2.alpha.ident-bot-2
                  a.lightbox-image.img-border-bg(href='images/portfolio/port-2.jpg', data-gal='prettyPhoto[pp_gal_1]')
                    img.img-border(alt='', src='images/portfolio/port-2.jpg')
                .tagline
                  h3 Aenean auctor wisi et urna
                p
                  | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
                a(href='#') read more —
              li
                .grid_2.alpha.ident-bot-2
                  a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                    img.img-border(alt='', src='images/portfolio/port-3.jpg')
                .tagline
                  h3 Aenean auctor wisi et urna
                p
                  | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
                a(href='#') read more —
              li
                .grid_2.alpha.ident-bot-2
                  a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                    img.img-border(alt='', src='images/portfolio/port-4.jpg')
                .tagline
                  h3 Aenean auctor wisi et urna
                p
                  | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
                a(href='#') read more —
              li
                .grid_2.alpha.ident-bot-2
                  a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                    img.img-border(alt='', src='images/portfolio/port-5.jpg')
                .tagline
                  h3 Aenean auctor wisi et urna
                p
                  | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
                a(href='#') read more —
              li
                .grid_2.alpha.ident-bot-2
                  a.lightbox-image.img-border-bg(href='images/image-blank.png', data-gal='prettyPhoto[pp_gal_1]')
                    img.img-border(alt='', src='images/portfolio/port-6.jpg')
                .tagline
                  h3 Aenean auctor wisi et urna
                p
                  | Lorem ipsum dolor sit amet, elscitere consectetur elit, sed reser do eiusmod tempor magna aliqua.
                a(href='#') read more —
        .clear
        .separator
      .grid_10.ident-bot-2
