extends ../index.jade
// 继承news中的content_1

block content_1
  .grid_8
    .grid_8
      h2.ident-bot-1 公司活动
    .grid_8
      // start Filter categories
      ul#filter
        li.active
          a.all(href='#') 全部
        li
          a.a2017(href='#') 2017
        li
          a.a2016(href='#') 2016
        li
          a.wordpress(href='#') 2015
      // End Filter categories
    // Divider
    .grid_8
      .project-divider
    .grid_8.post-border-right
      ul#stage
        li(data-id='id-1', data-type='a2017')
          .block-ident-3
            h2 公司简介
            .grid_4.alpha.block-ident-2
              .img-border-bg
                img.img-border.fleft(src='images/pic1.jpg', alt='')
            p.ident-bot-2
              strong
                | 广州荣知通信息科技有限公司成立于2016年, 是一家致力于工业智能化领域产品研发、生产、销售和售后服务为一体的高科技企业。
            p
              | 公司集中了一批国内外在硬件、软件、管理、营销等领域的一批专家型青年才俊,积极响应国家“大众创业,万众创新”的号召,致力于为
              | 中国工业企业转型升级提供个性化的智能应用解决方案。目前公司已拥有自己10余项核心专利技术, 并组建了专业化的硬件、软件研发
              | 团队, 与铁路、电网等大型企业进行针对性研发合作,持续提升公司的创新能力和水平。
            a.button(href='#') Continue Reading

        li(data-id='id-1', data-type='a2017')
          .block-ident-3
            h2 公司简介
            .grid_4.alpha.block-ident-2
              .img-border-bg
                img.img-border.fleft(src='images/pic1.jpg', alt='')
            p.ident-bot-2
              strong
                | 广州荣知通信息科技有限公司成立于2016年, 是一家致力于工业智能化领域产品研发、生产、销售和售后服务为一体的高科技企业。
            p
              | 公司集中了一批国内外在硬件、软件、管理、营销等领域的一批专家型青年才俊,积极响应国家“大众创业,万众创新”的号召,致力于为
              | 中国工业企业转型升级提供个性化的智能应用解决方案。目前公司已拥有自己10余项核心专利技术, 并组建了专业化的硬件、软件研发
              | 团队, 与铁路、电网等大型企业进行针对性研发合作,持续提升公司的创新能力和水平。
            a.button(href='#') Continue Reading

        li(data-id='id-1', data-type='a2016')
          .block-ident-3
            h2 公司简介
            .grid_4.alpha.block-ident-2
              .img-border-bg
                img.img-border.fleft(src='images/pic1.jpg', alt='')
            p.ident-bot-2
              strong
                | 广州荣知通信息科技有限公司成立于2016年, 是一家致力于工业智能化领域产品研发、生产、销售和售后服务为一体的高科技企业。
            p
              | 公司集中了一批国内外在硬件、软件、管理、营销等领域的一批专家型青年才俊,积极响应国家“大众创业,万众创新”的号召,致力于为
              | 中国工业企业转型升级提供个性化的智能应用解决方案。目前公司已拥有自己10余项核心专利技术, 并组建了专业化的硬件、软件研发
              | 团队, 与铁路、电网等大型企业进行针对性研发合作,持续提升公司的创新能力和水平。
            a.button(href='#') Continue Reading

      .clear
      .separator
