extends ../index.jade
// 继承news中的content_1
link(rel='stylesheet', href='http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css')


block content_1
  .grid_10
    .grid_12
      h2.ident-bot-1 公司活动
    .grid_12
      // start Filter categories
      ul#filter
        li.active
          a.all(href='#') 全部
        li
          a.a2017(href='#') 2017
        li
          a.a2016(href='#') 2016
        li
          a.wordpress(href='#') 2015
      // End Filter categories
    // Divider
    .grid_12
      .project-divider
    .grid_12.post-border-right
      div(data-spy='scroll', data-target='#navbar-example', data-offset='0', style='height:900px;overflow:auto; position: relative;')
        ul#stage
          li(data-id='id-1', data-type='a2017')
            .block-ident-3
              h2 市场部年底冲刺宣誓大会举行
              .grid_4.alpha.block-ident-2
                .img-border-bg
                  img.img-border.fleft(src='images/activity/2017/EndSprint/17102.jpg', alt='')
              blockquote
                p
                  strong
                    | 金秋十月,硕果飘香! 秋天,也是荣知通人收获的季节.全体荣知通同仁在2017年里,精诚团结,努力拼搏,在很多关键性项目上取得突破.
                p
                  | 我们的云视讯会议系统已经在铁路系统中开花,结果. 2017年的最后一个季度,关系着公司是否能够完成年初制定的销售任务.
                  | 为此,市场部全体员工汇集在广州总部,
                p
                  | 分析市场规律,制定市场冲刺计划.经过充分的思考,计划,演练,全体员工对 完成2017年的销售任务充满信心,并宣誓超额完成任务.
                p
                  | afa

          li(data-id='id-1', data-type='a2017')
            .block-ident-3
              h2 荣知通云会议体验中心开放
              .grid_4.alpha.block-ident-2
                .img-border-bg
                  img.img-border.fleft(src='images/activity/2017/RZTypx/17104.jpg', alt='')
              blockquote
                p
                  strong
                    | 广州荣知通信息科技有限公司成立于2016年, 是一家致力于工业智能化领域产品研发、生产、销售和售后服务为一体的高科技企业。
                p
                  | 公司集中了一批国内外在硬件、软件、管理、营销等领域的一批专家型青年才俊,积极响应国家“大众创业,万众创新”的号召,致力于为
                  | 中国工业企业转型升级提供个性化的智能应用解决方案。目前公司已拥有自己10余项核心专利技术, 并组建了专业化的硬件、软件研发
                  | 团队, 与铁路、电网等大型企业进行针对性研发合作,持续提升公司的创新能力和水平。
              a.button(href='#') Continue Reading

          li(data-id='id-1', data-type='a2016')
            .block-ident-3
              h2 荣知通乔迁新址
              .grid_4.alpha.block-ident-2
                .img-border-bg
                  img.img-border.fleft(src='images/activity/2017/NewSite/17106.png', alt='')
              blockquote
                p
                  strong
                    | 随着荣知通业务发展扩大,原先的办公室已经不能满足荣知通发展的需求.为了方便客户的交流沟通,
                    | 提升服务保障质量.荣知通搬迁到广州市番禺区石壁街道汉溪大道西奥园越时代广场东塔327-328. 新办公
                    | 区毗邻广州南站,地处南站核心商圈,属A级写字楼.优良的地理位置,便利的交通条件,耳目一新的办公环境预示着荣知通又迈上了一个新台阶.
                a.button(href='#') Continue Reading

      .clear
      .separator
