extends ../index.jade

block intel
  .grid_12.ident-bot-2
    h3 智能硬件
    .tab-container
      #tab1.tab-content
        .grid_12
          .block-ident-3
            h2 音视频记录仪
            .grid_12.alpha.block-ident-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/video/ME90.jpg', data-gal='prettyPhoto[pp_gal_2]')
              img.img-border.fleft(src='images/portfolio/product/video/ME90.jpg', alt='')
          .grid_12
            h1  简介
            p
              | 荣知通RZTJK001系列音视频记录仪是针对移动
              | 执法取证、行政监管等单人便携式监控需求应用
              | 场景开发的专用设备，该产品采用高速处理器和
              | 嵌入式Linux操作系统，集高清视频、音频、4G
              | 和WiFi无线通讯模块、GPS/北斗、存储、报警
              | 等模块，可配置微型高清摄像头及耳机。
              | 设备可通过4G、WiFi无线网络进行实时视音频信息传输、
              | 语音对讲等功能；协同后端功能完善的监控调度指挥平台
              |  系统实现针对户外移动式个体的远程调度指挥功能。
            h1 产品应用方案
            p
              strong
                | 1、1080P/720P全高清图像，带来更高级的视觉体验
            p
              | （1）、1080P/720P/VGA/QVGA，支持双流吗传输，一路用于本地高清存储，一路用于网络传输
            p
              | （2）、最高分辨率可达1920*1080/1280*720，视角更宽广画面更精细
            p
              strong
                | 2、4G无线图传，更快的传输体验
            p
              | （1）、内置4G通讯模块，支持无线传输，可接入平台进行集中监控（支持4G全网通）
            p
              | （2）、相较于3G网络，4G可以传输更高清晰度的视频分辨率，更符合后台监控需求
            p
              strong
                | 3、手机APP直连查看，方便
            p
              | 设备内置无线AP热点，手机可通过WIFI与设备直连（手机充当显示屏），实时观看设备现场拍摄画面，并可回放设
              | 备存储卡中的录像与图片
            p
              strong
                | 4、GPS/北斗模块，精准定位
            p
              | （1）、内置高灵敏度GPS或北斗定位模块，支持实时定位、轨迹回放
              | （2）、软件优化，更高精准度
            h1 总结
            p
              | 音视频记录仪实现目前的单一使用模式向网络化、系统化、
              | 智能化的转变，将执法数据综合效应最大化，从此繁琐的执法数据
              | 监管工作轻松完成。
            p
              | 该产品采用高速处理器和嵌入式Linux操作系统，集高清视
              | 频、音频、4G和WiFi无线通讯模块、GPS/北斗、存储、
              | 报警等模块，可配置微型高清摄像头及耳机。
            p
              | 管理服务器实现将视频流、音频信息等进行统一的分类、存
              | 储、转发等；客户端
            p
              | 管理软件实现视频的浏览、对讲监听、地图定位等功能。
