extends ../index.jade

block intel
  .grid_12.ident-bot-2
    h3 智能硬件
    ul.tab-menu
      li
        a(href='/RZTSD001') 隧道检查仪
      li
        a(href='/RZTXJ002') GPS摄像手电
      li
        a(href='/RZTJK001') 音视频记录仪
      li
        a(href='/RZTM91H') M91H布控球
      li
        a(href='/RZTT006') 应急指挥箱
    .tab-container
      #tab1.tab-content
        .grid_12
          .block-ident-3
            h2 M91H布控球
            .grid_12.alpha.block-ident-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/video/ME90.jpg', data-gal='prettyPhoto[pp_gal_2]')
              img.img-border.fleft(src='images/portfolio/product/video/ME90.jpg', alt='')
          .grid_12
            h1  简介
            p
              | RZT-M91H是专为应急布控，室外无线布控，开发的一款高性能一体化设备。它采用高
              | 速处理器和嵌入式操作系统，结合IT领域中最先进的H.265视频压缩/解压缩技术。
              | RZTM91H支持1路1080p高清录像和无线数据上传，配合中心软件可实现中央监控、远程管理及
              | 基于中心数据库的回放分析。产品外观简洁大方，安装挪动灵活方便，功能强大，可靠性高
              | 等特点。
            p
              strong
                | 详细特点如下:
              p
                | ➢ 工业级设计，专用接口，保证产品在复杂环境下可靠稳定运行；
              p
                | ➢ 最新H.265视频编码压缩技术；
              p
                | ➢ 支持1路音视频存储；
              p
                | ➢ 专业稳定的特殊文件系统；
              p
                | ➢ 可支持扩展3G/4G、WIFI、GPS、BD功能模块；
              p
                | ➢ 支持本地和远程云台控制；
              p
                | ➢ 支持2张SD卡，每张最大支持256GB；
              p
                | ➢ 内置UPS电池，电压14.8V  电池容量12000mAh(185Wh)
              p
                | ➢ 白天功耗:10.45Wh
              p
                | ➢ 夜晚功耗:17.1Wh
              p
                | ➢ 支持快速开机；
              p
                | ➢ 支持蓝牙耳机与平台对讲
              p
                | ➢ 内置OLED高亮度显示屏，强光下可清晰的看清所显示的内容
              p
                | ➢ 行业独创的全内置天线（3/4G  蓝牙 GPS/BD）
              p
                | ➢ PTT集群对讲模式，方便一个群组内的人员随意沟通
              p
                | ➢ 采用星光级镜头，保证在夜晚灯光不好的地方也能拍摄出真实彩色的画面
              p
                | ➢ 支持苹果、安卓等移动终端监控软件；
            p
              strong
                | 主要功能（如下表）
        .grid_12
          table.table-blue
            thead
              tr
                th(colspan='2') 内容
                th 单位
                th 数值
                th 备注
            tbody
              tr
                td(rowspan='3') 行走部分
                td.aligncenter

                td.aligncenter

                td.aligncenter

                td.aligncenter

              tr
                td Pack 2
                td.aligncenter

                td.aligncenter

                td.aligncenter


              tr
                td Pack 3

                td.aligncenter

                td.aligncenter

                td.aligncenter

              tr
                td Pack 4
                td.aligncenter

                td.aligncenter

                td.aligncenter
                  img(src='images/icons/xcross.png', alt='', style='')
                td.aligncenter

              tr
                td Rates
                td.rates $160
                td.rates $130
                td.rates $70
                td.rates $30
              tr.tr-none-3
                td
                td.aligncenter
                  a.button-white.table-button(href='#') Buy now
                td.aligncenter
                  a.button-white.table-button(href='#') Buy now
                td.aligncenter
                  a.button-white.table-button(href='#') Buy now
                td.aligncenter
                  a.button-white.table-button(href='#') Buy now
              tr.tr-none-1.tr-none-2
                td
                td.aligncenter
                  a.button-white.table-button(href='#') Buy
                td.aligncenter
                  a.button-white.table-button(href='#') Buy
                td.aligncenter
                  a.button-white.table-button(href='#') Buy
                td.aligncenter
                  a.button-white.table-button(href='#') Buy
