extends ../index.jade

block intel
  .grid_12.ident-bot-2
    h3 智能硬件
    ul.tab-menu
      if pageName === '/RZTSD001'
        li.active
          a(href='/RZTSD001') 隧道检查仪
      else
        li
          a(href='/RZTSD001') 隧道检查仪
      if pageName === '/RZTXJ002'
        li.active
          a(href='/RZTXJ002') GPS摄像手电
      else
        li
          a(href='/RZTXJ002') GPS摄像手电
      if pageName === '/RZTJK001'
        li.active
          a(href='/RZTJK001') 音视频记录仪
      else
        li
          a(href='/RZTJK001') 音视频记录仪
      if pageName === '/RZTM91H'
        li.active
          a(href='/RZTM91H') M91H布控球
      else
        li
          a(href='/RZTM91H') M91H布控球
      if pageName === '/RZTT006'
        li.active
          a(href='/RZTT006') 应急指挥箱
      else
        li
          a(href='/RZTT006') 应急指挥箱
    .tab-container
      #tab1.tab-content
        .grid_12
          .block-ident-3
            h2 隧道检查仪
            .grid_12.alpha.block-ident-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/intel/RZTSD001.jpg', data-gal='prettyPhoto[pp_gal_2]')
              img.img-border.fleft(src='images/portfolio/product/intel/RZTSD001.jpg', alt='')
          .grid_12
            h1  产品特点
            p
              strong
                | 携带方便:
            p
              | 产品走行部分采用轻质合金、304不锈钢等材质，
              | 重量轻，可拆卸，便于携带安装。
            p
              strong
                | 安全可靠:
            p
              | 照明配置，综合考虑使用的便捷与安全性强光工作
              | 时间5小时以上，工作光工作时间10小时以上；选
              | 用三防工控机能承受大外力撞击，而保障设备正常
              | 运行。
            p
              strong
                | 检查极佳:
            p
              | 选用360度高清旋转摄像机，自带云台调焦，具有防抖防
              | 震功能，摄像分辨率达到1920*1080P；录像过程可进行
              | 抓拍像数可达1200万像数,数据采集至工控机清晰检 查
              | 隧道上部结构，有效的方便了作业人员解决问题。
            p
              strong
                | 产品可定制:
            p
              | 可根据成本、使用环境、使用功能等作业要求，
              | 对走行系统，照明系统以及录像系统进行定制。
          .grid_12
            table.table-blue
              thead
                tr
                  th(colspan='2') 内容
                  th 单位
                  th 数值
                  th 备注
              tbody
                tr
                  td(rowspan='3') 行走部分
                  td.aligncenter  尺寸

                  td.aligncenter  cm

                  td.aligncenter  160*80*100

                  td.aligncenter  可定制

                tr
                  td.aligncenter  重量

                  td.aligncenter  kg

                  td.aligncenter  10月20日

                  td.aligncenter  可定制


                tr
                  td.aligncenter  材料

                  td.aligncenter(colspan='3') 航空合金或304不锈钢

                tr
                  td(rowspan='6') 照明部分
                  td.aligncenter(rowspan='2') 工作时间

                  td.aligncenter  h

                  td.aligncenter  强光3--8

                  td.aligncenter(rowspan='2')  可定制

                tr
                  td.aligncenter  h
                  td.aligncenter 工作光5-16
                tr
                  td.aligncenter  光源寿命
                  td.aligncenter  h
                  td.aligncenter  3--10(万)
                  td.aligncenter  可定制
                tr
                  td.aligncenter  功率
                  td.aligncenter  w
                  td.aligncenter  2*40/50
                  td.aligncenter  可选
                tr
                  td.aligncenter  重量
                  td.aligncenter  kg
                  td.aligncenter  2*3/7.2
                  td.aligncenter  可选
                tr
                  td.aligncenter  电池寿命
                  td.aligncenter  循环
                  td.aligncenter  300--1000次
                  td.aligncenter  可选
                tr
                  td(rowspan='8') 摄像系统
                  td.aligncenter  分辨率
                  td.aligncenter(colspan='3')  1080P60/50/30/25;720P60/50/30/25;540P30;48 0P30;360P30;兼容U2视频接口
                tr
                  td.aligncenter 循环录影
                  td.aligncenter(colspan='3') 关/10分钟/15分钟/30分钟  (默认为关）
                tr
                  td.aligncenter  存储方式
                  td.aligncenter(colspan='3') 工业三防工控机
                tr
                  td.aligncenter  感应器
                  td.aligncenter(colspan='3') 1200cmos
                tr
                  td.aligncenter  镜头角度
                  td.aligncenter  60
                  td.aligncenter  视频格式
                  td.aligncenter  MP4
                tr
                  td.aligncenter  是否云台
                  td.aligncenter  有
                  td.aligncenter  焦距
                  td.aligncenter  自动/手动
                tr
                  td.aligncenter  图片格式
                  td.aligncenter  JPG
                  td.aligncenter  接口
                  td.aligncenter  USB3.0/USB2.0
                tr
                  td.aligncenter  电池
                  td.aligncenter(colspan='3') 蓄电池供电10小时以上
