extends ../index.jade

block intel
  .grid_12.ident-bot-2
    h3 智能硬件
    ul.tab-menu
      li
        a(href='/RZTSD001') 隧道检查仪
      li
        a(href='/RZTXJ002') GPS摄像手电
      li
        a(href='/RZTJK001') 音视频记录仪
      li
        a(href='/RZTM91H') M91H布控球
      li
        a(href='/RZTT006') 应急指挥箱
    .tab-container
      #tab1.tab-content
        .grid_12
          .block-ident-3
            h2 隧道检查仪
            .grid_12.alpha.block-ident-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/video/ME90.jpg', data-gal='prettyPhoto[pp_gal_2]')
              img.img-border.fleft(src='images/portfolio/product/video/ME90.jpg', alt='')
          .grid_12
            h1  产品特点
            p
              strong
                | 携带方便:
            p
              | 产品走行部分采用轻质合金、304不锈钢等材质，
              | 重量轻，可拆卸，便于携带安装。
            p
              strong
                | 安全可靠:
            p
              | 照明配置，综合考虑使用的便捷与安全性强光工作
              | 时间5小时以上，工作光工作时间10小时以上；选
              | 用三防工控机能承受大外力撞击，而保障设备正常
              | 运行。
            p
              strong
                | 检查极佳:
            p
              | 选用360度高清旋转摄像机，自带云台调焦，具有防抖防
              | 震功能，摄像分辨率达到1920*1080P；录像过程可进行
              | 抓拍像数可达1200万像数,数据采集至工控机清晰检 查
              | 隧道上部结构，有效的方便了作业人员解决问题。
            p
              strong
                | 产品可定制:
            p
              | 可根据成本、使用环境、使用功能等作业要求，
              | 对走行系统，照明系统以及录像系统进行定制。
          .grid_12
            table.table-blue
              thead
                tr
                  th(colspan='2') 内容
                  th 单位
                  th 数值
                  th 备注
              tbody
                tr
                  td(rowspan='3') 行走部分
                  td.aligncenter

                  td.aligncenter

                  td.aligncenter

                  td.aligncenter

                tr
                  td Pack 2
                  td.aligncenter

                  td.aligncenter

                  td.aligncenter


                tr
                  td Pack 3

                  td.aligncenter

                  td.aligncenter

                  td.aligncenter

                tr
                  td Pack 4
                  td.aligncenter

                  td.aligncenter

                  td.aligncenter
                    img(src='images/icons/xcross.png', alt='', style='')
                  td.aligncenter

                tr
                  td Rates
                  td.rates $160
                  td.rates $130
                  td.rates $70
                  td.rates $30
                tr.tr-none-3
                  td
                  td.aligncenter
                    a.button-white.table-button(href='#') Buy now
                  td.aligncenter
                    a.button-white.table-button(href='#') Buy now
                  td.aligncenter
                    a.button-white.table-button(href='#') Buy now
                  td.aligncenter
                    a.button-white.table-button(href='#') Buy now
                tr.tr-none-1.tr-none-2
                  td
                  td.aligncenter
                    a.button-white.table-button(href='#') Buy
                  td.aligncenter
                    a.button-white.table-button(href='#') Buy
                  td.aligncenter
                    a.button-white.table-button(href='#') Buy
                  td.aligncenter
                    a.button-white.table-button(href='#') Buy
