extends ../index.jade

block intel
  .grid_12.ident-bot-2
    h3 智能硬件
    ul.tab-menu
      if pageName === '/RZTSD001'
        li.active
          a(href='/RZTSD001') 隧道检查仪
      else
        li
          a(href='/RZTSD001') 隧道检查仪
      if pageName === '/RZTXJ002'
        li.active
          a(href='/RZTXJ002') GPS摄像手电
      else
        li
          a(href='/RZTXJ002') GPS摄像手电
      if pageName === '/RZTJK001'
        li.active
          a(href='/RZTJK001') 音视频记录仪
      else
        li
          a(href='/RZTJK001') 音视频记录仪
      if pageName === '/RZTM91H'
        li.active
          a(href='/RZTM91H') M91H布控球
      else
        li
          a(href='/RZTM91H') M91H布控球
      if pageName === '/RZTT006'
        li.active
          a(href='/RZTT006') 应急指挥箱
      else
        li
          a(href='/RZTT006') 应急指挥箱

    .tab-container
      #tab1.tab-content
        .grid_12
          .block-ident-3
            h2 RZT006系列应急指挥箱
            .grid_12.alpha.block-ident-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/intel/RZTT006.jpg', data-gal='prettyPhoto[pp_gal_2]')
              img.img-border.fleft(src='images/portfolio/product/intel/RZTT006.jpg', alt='')
          .grid_12
            h1  简介
            p
              | RZT006系列应急指挥箱是一款基于移动互联网的智能音视
              | 频应急应用终端，适合于铁路、电力、消防和公安等领域远程
              | 实时多方交流互动以及远程实时指挥等方面的需要。
            h1 产品特点
            p
              strong
                | 功能强大 :
            p
              | 系统能进行远程多方专家会诊，单对单、单对多实时高品
              | 质音视频通话。
            p
              strong
                | 安全有效 :
            p
              | 系统能够根据网络状态实时调整传输分辨率，保证会议或
              | 者培训正常进行；整个系统具有强大的云计算和云服务能
              | 力，并采用512位加密模式进行信息加密。

            p
              strong
                | 体验极佳 :
            p
              | 系统能够实现远程交流、PC桌面内容分享、手机APP实时
              | 入会、大屏板书以及实时签注等多端和多层次的交流和培
              | 训。
            p
              strong
                | 系统兼容 :
            p
              | 本系统可与各个单位原有系统进行兼容使用，直接接通各
              | 个单位调度室和综合指挥中心。

            p
              strong
                | 预留功能 :
            p
              | 该系统可以预留直播、SDK开发、多维培训课件和内容上
              | 传下载、会议和培训录播、培训课件云端随时读取等功能。
            p
              strong
                | 移动便捷  :
            p
              | 该系统具备远程监控和指挥功能，终端设备为可移动设备，
              | 既可以在室内使用，也可在应急抢险现场配合作业工具配套使用。
            p
              strong
                | 配置丰富 :
            p
              | 本系统可以配置应急照明工具、移动无线WIFI等设施，适
              | 合于各个应急抢险、抢修现场。
