extends ../index.jade

block intel
  .grid_12.ident-bot-2
    h3 智能硬件
    ul.tab-menu
      if pageName === '/RZTSD001'
        li.active
          a(href='/RZTSD001') 隧道检查仪
      else
        li
          a(href='/RZTSD001') 隧道检查仪
      if pageName === '/RZTXJ002'
        li.active
          a(href='/RZTXJ002') GPS摄像手电
      else
        li
          a(href='/RZTXJ002') GPS摄像手电
      if pageName === '/RZTJK001'
        li.active
          a(href='/RZTJK001') 音视频记录仪
      else
        li
          a(href='/RZTJK001') 音视频记录仪
      if pageName === '/RZTM91H'
        li.active
          a(href='/RZTM91H') M91H布控球
      else
        li
          a(href='/RZTM91H') M91H布控球
      if pageName === '/RZTT006'
        li.active
          a(href='/RZTT006') 应急指挥箱
      else
        li
          a(href='/RZTT006') 应急指挥箱
    .tab-container
      #tab1.tab-content
        .grid_12
          .block-ident-3
            h2 GPS摄像手电
            .grid_12.alpha.block-ident-2
              a.lightbox-image.img-border-bg(href='images/portfolio/product/intel/RZTXJ002.jpg', data-gal='prettyPhoto[pp_gal_2]')
              img.img-border.fleft(src='images/portfolio/product/intel/RZTXJ002.jpg', alt='')
          .grid_12
            h1  产品特点
            p
              strong
                | 强光手电功能 :
            p
              | 使用 Cree 最新 LED，优秀的光学设计，光线强且光
              | 斑柔和无瑕疵，夜间照射距离可达100米以上，具备
              | 手电筒的基本功能；
            p
              strong
                | 信号灯功能:
            p
              | 具备红、绿信号灯功能，方便车辆指挥、调度；
            p
              strong
                | 便 携 摄录机 :
            p
              | 拍照、录像自动开启闪光灯，拍摄光线均无高光点随
              | 时观看照片视频，1.54寸高清 TFT 屏幕显示，可随时
              | 回放拍摄文件。自带的补光灯可自动打开，在黑暗的
              | 环境里能清晰、完整、全天候的记录设备情况；
            p
              strong
                | 功能三合一 :
            p
              | 可单独作为 LED电筒使用，可音视频同步录制、可单
              | 独作为数码照相机或数码摄像机使用；
            p
              strong
                | 超长时间续电:
            p
              | 采用 4500mAh超大容量锂电池, 寿命长，自放电率低
              | ，经济环保，电池具有保护功能，可有效防止电池的过
              | 充过放；
            p
              strong
                | 内存可扩 :
            p
              | 支持最大 64GB T-Flash卡，超大的容量，不用担心信
              | 息遗漏；
            p
              strong
                | 牢固耐摔 :
            p
              | 外壳采用航空级铝材CNC精细加工而成，筒壁厚实，用
              | 料扎实，防摔防震，表面硬质阳极化处理，抗强力冲击
              | ，耐腐蚀性强。
          .grid_12
            p
              strong
                | 性能参数
            table.table-blue
              tbody
                tr
                  td 型号
                  td.aligncenter  RZTXJ002（带平台）
                tr
                  td 性能特点
                  td.aligncenter
                    p
                      | ●内置1300万像素自动对焦背照式摄像头，可录像最高分辨率为： 480p/720p/1080p 30fps，摄像资料可自动智能分类存储
                    p
                      | ●内置 WIFI 模块，可通过设备实时传输音视频，存储的图片和视频文件可 在 PC 客户端授权下载及浏览
                    p
                      | ●使用寿命可达10万小时以上
                    p
                      | ●内置3.7V 4500mAh可充电锂离子电池连续工作状态最多14小时以上

                tr
                  td 后台管理

                  td.aligncenter  可以开发定制专门版本，可嵌入铁路地图


                tr
                  td 售后服务
                  td.aligncenter  保用2年
