extends

block footer
  footer
    .footer-1
      .container_12
        .wrapper
          // Text Widget & SOCIABLE
          .grid_4
            .block-ident-4
              // Text Widget
              .ident-bot-1
                h5 Text Widget
                img.fleft.ident-right-1(src='images/logo-footer.png', alt='')
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing laoreet elit, sed do eiusmod tempor incididunt.
                dl
                  dd
                    span +1 100 123 6580
                    | Freephone:
                  dd
                    span +1 200 123 6035
                    | Telephone:
                  dd
                    span +1 300 123 9898
                    | FAX:
                  dd
                    | E-mail:
                    a.link-1(href='#') mail@owltemplates.com
              .clear
              .footer-separator
              // SOCIABLE
              .sociable
                h5 Connect with us
                ul.social
                  li
                    a(href='#')
                      img.img-1(alt='', src='images/icons/icon1.png')
                      img.img-2(alt='', title='Facebook', src='images/icons/icon1-hover.png')
                  li
                    a(href='#')
                      img.img-1(alt='', src='images/icons/icon2.png')
                      img.img-2(alt='', title='Flickr', src='images/icons/icon2-hover.png')
                  li
                    a(href='#')
                      img.img-1(alt='', src='images/icons/icon3.png')
                      img.img-2(alt='', title='Twitter', src='images/icons/icon3-hover.png')
                  li
                    a(href='#')
                      img.img-1(alt='', src='images/icons/icon4.png')
                      img.img-2(alt='', title='RSS', src='images/icons/icon4-hover.png')
                  li
                    a(href='#')
                      img.img-1(alt='', src='images/icons/icon5.png')
                      img.img-2(alt='', title='Technorati', src='images/icons/icon5-hover.png')
          // Twitter Feed
          .grid_4.tweet
            .block-ident-4
              h5 Twitter Feed
              .tweets
                p  Loading Tweets...
                ul#tweet-list
          // FLCKR PHOTOS & Tag Cloud
          .grid_4
            // FLCKR PHOTOS
            .wrapper
              .flickr
                h5 Flickr Photos
                div
                  ul#fbox
                    li.empty 锟斤拷
            .clear
            .footer-separator
            // Tag Cloud
            .wrapper.tags
              h5 Tag Cloud
              a(href='#') Beauty
              a(href='#') Spa
              a(href='#') Relax
              a(href='#') Refresh
              a(href='#') Clean
              a(href='#') Glow
              a(href='#') Massage
              a(href='#') Polish
              a(href='#') Indulgence
              a(href='#') Grow
    .footer-2
      .container_12
        .wrapper
          .grid_12
            .policy
              | © Copyright © 2013.Company name All rights reserved.
              a(target='_blank', href='http//www.zjf88.com/') 网页模板
  script(src='js/custom.js')
  div(style='display:none')
    script(src='http//v7.cnzz.com/stat.php?id=155540&web_id=155540', language='JavaScript', charset='gb2312')
