extends layout

block main
  block header
    // header
    header
      .header_bg(style="height: 90px")
        .wrap
          .header
            .logo.fleft
              h1
                a(href='/') 荣知通
              .slogan 广州荣知通信息科技有限公司
            .call
              img(src='images/icons/icon-phone.png', alt='')
              span Call CN: 020-31147920
            .clear
            .clear
      .row-3
        .container_12
          .grid_12
            // menu
            nav#main-nav-menu
              ul.sf-menu
                if pageName === '/'
                  li.active
                    a(href='/') 网站首页
                else
                  li
                    a(href='/') 网站首页
                if pageName === '/news'
                  li.active
                    a(href='/news') 新闻动态
                    ul.sf-menu
                      li
                        a(href='/CompanyActivity') 公司动态
                      li
                        a(href='/TradeNews') 行业新闻
                else
                  li
                    a(href='/news') 新闻动态
                    ul.sf-menu
                      li
                        a(href='/CompanyActivity') 公司动态
                      li
                        a(href='/TradeNews') 行业新闻
                if pageName === '/product'
                  li.active
                    a(href='/product') 产品中心
                    ul.sf-menu
                      li
                        a(href='/cloudvideo') 智能终端
                          ul.sf-menu
                            li
                              a(href='/cloudvideo') ME90 （大型会议配置）
                            li
                              a(href='/cloudvideo') ME40 （中型会场配置）
                            li
                              a() ME20 （小型会场配置）
                            li
                              a() NE60 （小型会场配置）
                            li
                              a(href='/cloudvideo') MAXHUB
                            li
                              a() 配件
                      li
                        a(href='/intel') 智能硬件
                          ul.sf-menu
                            li
                              a(href='/intel') 隧道检查仪
                            li
                              a(href='/intel') 音视频记录仪
                            li
                              a(href='/intel') GPS摄像手电
                            li
                              a(href='/intel') M91H布控球
                            li
                              a(href='/intel') 应急指挥箱
                      li
                        a(href='/tools') 专用工具
                          ul.sf-menu
                            li
                              a(href='/tools') 太阳能铁路障碍灯
                            li
                              a(href='/tools') 应急夹板双肩包
                else
                  li
                    a(href='/product') 产品中心
                    ul.sf-menu
                      li
                        a(href='/cloudvideo') 智能终端
                          ul.sf-menu
                            li
                              a(href='/cloudvideo') ME90 （大型会议配置）
                            li
                              a(href='/cloudvideo') ME40 （中型会场配置）
                            li
                              a() ME20 （小型会场配置）
                            li
                              a() NE60 （小型会场配置）
                            li
                              a(href='/cloudvideo') MAXHUB
                            li
                              a() 配件
                      li
                        a(href='/intel') 智能硬件
                          ul.sf-menu
                            li
                              a(href='/intel') 隧道检查仪
                            li
                              a(href='/intel') 音视频记录仪
                            li
                              a(href='/intel') GPS摄像手电
                            li
                              a(href='/intel') M91H布控球
                            li
                              a(href='/intel') 应急指挥箱
                      li
                        a(href='/tools') 专用工具
                          ul.sf-menu
                            li
                              a(href='/tools') 太阳能铁路障碍灯
                            li
                              a(href='/tools') 应急夹板双肩包
                if pageName === '/serve'
                  li.active
                    a(href='/serve') 服务项目
                    ul.sf-menu
                      li
                        a(href='/serve') 会议室集成方案定制
                      li
                        a(href='/serve') 远程直教系统方案定制
                      li
                        a(href='/serve') 远程应急指挥方案定制
                      li
                        a(href='/serve') 综合音视频服务
                      li
                        a(href='/serve') 云服务定制
                else
                  li
                    a(href='/serve') 服务项目
                    ul.sf-menu
                      li
                        a(href='/serve') 会议室集成方案定制
                      li
                        a(href='/serve') 远程直教系统方案定制
                      li
                        a(href='/serve') 远程应急指挥方案定制
                      li
                        a(href='/serve') 综合音视频服务
                      li
                        a(href='/serve') 云服务定制
                if pageName === '/Promotion_1'
                  li.active
                    a(href='/Promotion_1')  应用场景
                else
                  li
                    a(href='/Promotion_1')  应用场景
                if pageName === '/about'
                  li.active
                    a(href='/about') 关于我们
                    ul.sf-menu
                      li
                        a(href='/company') 公司介绍
                      li
                        a(href='/JoinUs') 加入我们
                      li
                        a(href='') 联系我们
                else
                  li
                    a(href='/about') 关于我们
                    ul.sf-menu
                      li
                        a(href='/company') 公司介绍
                      li
                        a(href='/JoinUs') 加入我们
                      li
                        a(href='') 联系我们
            // end menu
            a.spa-packages.button-yellow(href='#')
              img(alt='', src='images/icons/offer-icon.png')
              | 加入收藏
            select#responsive-main-nav-menu(onchange='javascript:window.location.replace(this.value);')
    // end header

  block content

  block footer
    // footer
    footer
      .footer-1
        .container_12
          .wrapper
            // Text Widget & SOCIABLE
            .grid_8
              .block-ident-4
                // Text Widget
                .ident-bot-1
                  img.fleft.ident-right-1(src='images/logo-footer.png', alt='')
                  h5 公司联系方式:
                    p
                    | 广东省广州市番禺区石壁街汉溪大道西283号奥园越时代广场东塔328室
            .grid_2.fright
              dl
                dd
                  | 杨先生
                dd
                  | 手机:
                  span +188 9843 8855
                dd
                  | 电话:
                  span +020-31147920
                dd
                  | E-mail:
                  span yangjie@rztit.com
      .footer-2
        .container_12
          .wrapper
            .grid_12
              .policy
                | © 2016 Rztlt.com All rights reserved.
                a(target='_blank', href='http//www.rztit.com/') 广州荣知通IT
block script
  script(src='js/custom.js')
  div(style='display:none')
    script(src='http//v7.cnzz.com/stat.php?id=155540&web_id=155540', language='JavaScript', charset='gb2312')
