extends layout

block main
  block header
    // header
    header
      .row-1
        .container_12
          .grid_12
            .logo.fleft
              h1
                a(href='/') 荣知通
              .slogan 广州荣知通信息科技有限公司
            .call
              img(src='images/icons/icon-phone.png', alt='')
              span Call CN: 020-31147920
            .clear
          .clear
      .row-3
        .container_12
          .grid_12
            // menu
            nav#main-nav-menu
              ul.sf-menu
                if pageName === '/'
                  li.active
                    a(href='/') 网站首页
                else
                  li
                    a(href='/') 网站首页
                if pageName === '/news'
                  li.active
                    a(href='/news') 新闻动态
                    ul
                      li
                        a(href='/Promotion_1') 促销活动
                      li
                        a(href='/CompanyActivity') 公司动态
                      li
                        a(href='/TradeNews') 行业新闻
                else
                  li
                    a(href='/news') 新闻动态
                    ul
                      li
                        a(href='/Promotion_1') 促销活动
                      li
                        a(href='/CompanyActivity') 公司动态
                      li
                        a(href='/TradeNews') 行业新闻
                if pageName === '/product'
                  li.active
                    a(href='/product') 产品中心
                    ul
                      li
                        a(href='elements.html') 云视讯系列
                      li
                        a(href='price.html') 智能硬件
                      li
                        a(href='price-list.html') 专用工具
                else
                  li
                    a(href='/product') 产品中心
                    ul
                      li
                        a(href='elements.html') 云视讯系列
                      li
                        a(href='price.html') 智能硬件
                      li
                        a(href='price-list.html') 专用工具
                if pageName === '/serve'
                  li.active
                    a(href='/serve') 服务项目
                    ul
                      li
                        a(href='blog.html') 会议室系统集成
                      li
                        a(href='blog-single.html') 远程直教系统集成
                      li
                        a(href='blog-single.html') 中央音视频系统集成
                      li
                        a(href='blog-single.html') 云服务系统集成
                else
                  li
                    a(href='/serve') 服务项目
                    ul
                      li
                        a(href='blog.html') 会议室系统集成
                      li
                        a(href='blog-single.html') 远程直教系统集成
                      li
                        a(href='blog-single.html') 中央音视频系统集成
                      li
                        a(href='blog-single.html') 云服务系统集成
                if pageName === '/about'
                  li.active
                    a(href='/about') 关于我们
                    ul
                      li
                        a(href='/company') 公司介绍
                      li
                        a(href='/friend') 合作伙伴
                      li
                        a(href='blog-single.html') 加入我们
                      li
                        a(href='blog-single.html') 联系我们
                else
                  li
                    a(href='/about') 关于我们
                    ul
                      li
                        a(href='/company') 公司介绍
                      li
                        a(href='/friend') 合作伙伴
                      li
                        a(href='') 加入我们
                      li
                        a(href='') 联系我们
            // end menu
            a.spa-packages.button-yellow(href='#')
              img(alt='', src='images/icons/offer-icon.png')
              | 加入收藏
            select#responsive-main-nav-menu(onchange='javascript:window.location.replace(this.value);')
            .clear
          .clear
    // end header

  block content

  block footer
    // footer
    footer
      .footer-1
        .container_12
          .wrapper
            // Text Widget & SOCIABLE
            .grid_8
              .block-ident-4
                // Text Widget
                .ident-bot-1
                  h5 公司联系方式
                  img.fleft.ident-right-1(src='images/logo-footer.png', alt='')
                  p
                    | 广东省广州市番禺区石壁街汉溪大道西283号奥园越时代广场东塔328室
                  dl
                    dd
                      | 杨杰
                    dd
                      | 手机:
                      span +188 9843 8855
                    dd
                      | 电话:
                      span +020-31147920
                    dd
                      | E-mail:
                      a.link-1(href='#') yangjie@rztit.com
                .clear
                .footer-separator

            .grid_4
              // CONNECT_WITH_US
              .wrapper
                .sociable
                  h5 关联我们
                  ul.social
                    li
                      a(href='#')
                        img.img-1(alt='', src='images/icons/icon1.png')
                        img.img-2(alt='', title='Facebook', src='images/icons/icon1-hover.png')
                    li
                      a(href='#')
                        img.img-1(alt='', src='images/icons/icon2.png')
                        img.img-2(alt='', title='Flickr', src='images/icons/icon2-hover.png')
                    li
                      a(href='#')
                        img.img-1(alt='', src='images/icons/icon3.png')
                        img.img-2(alt='', title='Twitter', src='images/icons/icon3-hover.png')
                    li
                      a(href='#')
                        img.img-1(alt='', src='images/icons/icon4.png')
                        img.img-2(alt='', title='RSS', src='images/icons/icon4-hover.png')
                    li
                      a(href='#')
                        img.img-1(alt='', src='images/icons/icon5.png')
                        img.img-2(alt='', title='Technorati', src='images/icons/icon5-hover.png')

              .clear
              .footer-separator
              // Tag Cloud
              .wrapper.tags
                h5 专业服务
                a(href='#') 视频会议
                a(href='#') 专业音响
                a(href='#') 舞台灯光
                a(href='#') 集中控制
                a(href='#') 信息发布
                a(href='#') 无纸化会议
                a(href='#') BOEGAM
                a(href='#') 多媒体会议
                a(href='#') MZXHUB
                a(href='#') 小鱼易连
      .footer-2
        .container_12
          .wrapper
            .grid_12
              .policy
                | © 2016 Rztlt.com All rights reserved.
                a(target='_blank', href='http//www.rztit.com/') 广州荣知通IT
block script
  script(src='js/custom.js')
  div(style='display:none')
    script(src='http//v7.cnzz.com/stat.php?id=155540&web_id=155540', language='JavaScript', charset='gb2312')
