doctype html
html(lang='en')
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width; initial-scale=1.0')
    block css
      link(rel='stylesheet', href='css/style.css', media='screen')
      link(rel='icon', href='images/favicon.ico', type='image/x-icon')
      link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')

  // body
  body#page1
    block main

    // js
    block js
      script(src='js/jquery-1.7.2.min.js')
      //script(src='http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js')
      //script(src='http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js')


      //if lt IE 9
          script(src='js/html5.js')
          link(rel='stylesheet', href='css/ie.css')
      script(src='js/custom.js')



