extends ../index.jade
// 继承news中的content_1

block content_1
  section.grid_8.fleft
    .post-border-right
      article.post-holder
        header
          h2.entry-title
            a(href='#') Donec tempor libero
          .post-meta
            .fleft
              | Posted in:
              a(href='#') Aliquam felis est
              |  |
              .time July 12, 2012
              |                 , by
              a(href='#') admin
            .fright
              a(href='#') 6 comments
          // .post-meta
        figure.ident-bot-2
          a.img-border-bg(href='#')
            img.img-border.attachment-post-thumbnail.wp-post-image(alt='', src='images/blog/post1.jpg')
        p.ident-bot-2
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit massa vel mauris sollicitudin dignissim. Phasellus ultrices tellus eget ipsum ornare molestie scelerisque eros dignissim. Phasellus fringilla hendrerit lectus nec vehicula. Pellentesque habitant morbi tristique...
        a.button.ident-bot-2(href='blog-single.html') Continue Reading
        .addthis_toolbox.addthis_pill_combo
          a.addthis_button_google_plusone(g:plusone:size='medium')
          a.addthis_button_tweet(tw:count='horizontal')
          a.addthis_button_facebook_like
      .clear
      .separator
      article.post-holder
        header
          h2.entry-title
            a(href='#') Donec tempor libero
          .post-meta
            .fleft
              | Posted in:
              a(href='#') Aliquam felis est
              |  |
              .time July 12, 2012
              |                 , by
              a(href='#') admin
            .fright
              a(href='#') 6 comments
          // .post-meta
        figure.ident-bot-2
          a.img-border-bg(href='#')
            img.img-border.attachment-post-thumbnail.wp-post-image(alt='', src='images/blog/post2.jpg')
        p.ident-bot-2
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit massa vel mauris sollicitudin dignissim. Phasellus ultrices tellus eget ipsum ornare molestie scelerisque eros dignissim. Phasellus fringilla hendrerit lectus nec vehicula. Pellentesque habitant morbi tristique...
        a.button.ident-bot-2(href='blog-single.html') Continue Reading
        .addthis_toolbox.addthis_pill_combo
          a.addthis_button_google_plusone(g:plusone:size='medium')
          a.addthis_button_tweet(tw:count='horizontal')
          a.addthis_button_facebook_like
      .clear
      .separator
      article.post-holder
        header
          h2.entry-title
            a(href='#') Donec tempor libero
          .post-meta
            .fleft
              | Posted in:
              a(href='#') Aliquam felis est
              |  |
              .time July 12, 2012
              |                 , by
              a(href='#') admin
            .fright
              a(href='#') 6 comments
          // .post-meta
        figure.ident-bot-2
          a.img-border-bg(href='#')
            img.img-border.attachment-post-thumbnail.wp-post-image(alt='', src='images/blog/post3.jpg')
        p.ident-bot-2
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit massa vel mauris sollicitudin dignissim. Phasellus ultrices tellus eget ipsum ornare molestie scelerisque eros dignissim. Phasellus fringilla hendrerit lectus nec vehicula. Pellentesque habitant morbi tristique...
        a.button.ident-bot-2(href='blog-single.html') Continue Reading
        .addthis_toolbox.addthis_pill_combo
          a.addthis_button_google_plusone(g:plusone:size='medium')
          a.addthis_button_tweet(tw:count='horizontal')
          a.addthis_button_facebook_like
      .clear
      .separator
      .pagination.fright
        ul
          li.disabled
            a(href='#') «
          if pageName === '/'
          li.active
            a(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') »
